@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

.nomargin									{margin:0 !important}

html,body 									{background:url(../img/bg2.jpg);background-size:cover;font-family: 'Open Sans', sans-serif;background-attachment:fixed}
 

.icon-up									{color:green !important}
.icon-down									{color:red !important}

.navbar-default								{background:none;border:none;margin:0} 
.navbar-brand								{height:auto}


.page-wrapper								{background:#fff;padding:15px;border:1px solid #e8e8e8;position:relative;border-top:0;padding-bottom:0}

.tabs										{min-height:180px;
background: repeating-linear-gradient(
    45deg,
    #00b188,
    #00b188 2px,
    #00aa83 2px,
    #00aa83 4px
  );}
.tabs .nav-tabs								{border:none}
.tabs .nav-tabs								{margin-top:20px}
.tabs .nav-tabs	li							{margin-right:15px;background:rgba(0,0,0,0.03);border-radius:6px}
.tabs .nav-tabs	li a						{height:70px;width:110px;text-align:center;color:#fff}
.tabs .nav-tabs	li a i						{display:block;font-size:24px;margin-bottom:5px}
.tabs .nav-tabs	li a:hover					{background:#fff}
.tabs .nav-tabs	li:hover a,
.tabs .nav-tabs	li.active a					{border-radius:6px;color:#00b188}

.tabs .nav-tabs	li.active::after {
content: "";
position: absolute;
bottom: -26px;
left: 45px;
border-width: 0 10px 10px;
border-style: solid;
border-color: #fff transparent;
display: block;
width: 0;
}

.table										{margin:0}
.table>thead>tr>th							{border-width:1px;text-align:center;font-weight:600;color:#231f20}
.std-table.fte>tbody>tr>td					{padding:0 }
.std-table>thead>tr>th						{background:#F6F8F8;font-weight:bold}

.table .form-control						{box-shadow:none;border-color:#ddd}
.table .form-control:focus					{box-shadow:none;border-color:#231f20}

.page-wraper								{background:#fff;padding:15px;border:1px solid #e8e8e8;position:relative;border-top:0;padding-bottom:0;margin-top:15px} 
 
 .page-wraper .footer						{border-top:1px solid #eee;padding:15px;margin:-15px;margin-bottom:0;margin-top:15px}
 

.std-panel										{border-color:#dee5e7;margin-top:15px;box-shadow:none;border-radius:0;margin-bottom:inherit}
.std-panel .navbar-form							{margin:0;padding:0}
.std-panel .navbar-form .form-control			{border-color:#ddd;box-shadow:none}
.std-panel .navbar-form .form-control:focus		{border-color:#ddd} 

.std-panel .panel-heading						{background:#F6F8F8;border-color:#dee5e7}
.std-panel .panel-heading a						{text-decoration:none}
.std-panel .panel-heading a i					{font-size:10px;margin-right:5px;vertical-align:middle}
.std-panel .panel-heading h4					{font-size:14px;margin:0;font-weight:bold;color:#231f20;margin-top:2px}


.std-panel table							{border-color:#dee5e7}
.std-panel .table-fixed tbody {
  /*height:144px;*/
  overflow-y: auto;
  width: 100%;
}
.std-panel .table-fixed thead, 
.std-panel .table-fixed tbody, 
.std-panel .table-fixed tr, 
.std-panel .table-fixed td, 
.std-panel .table-fixed th {
  display: block;
  border-color:#eee;
}

 
.std-panel .table-fixed td:last-child, 
.std-panel .table-fixed th:last-child			{text-align:right}

.std-panel .table-fixed tbody td, 
.std-panel .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
  padding:7px 15px; 
  text-align:left
}
.std-panel .table-fixed td [class^='icon-']		{margin:0 5px;vertical-align:middle;text-decoration:none;color:#888}
.modified										{color:#f05050}


.dynamicTile                            {padding:10px}
.dynamicTile .tile						{color:inherit;text-decoration:none;display:block;background:#fff;padding:5px}
.dynamicTile .tile .carousel .item 		{width: 100%;height:0;padding-bottom: 100%} 
.dynamicTile .tile .carousel .item p	{padding:15px;white-space:normal;}
.dynamicTile .tile .caption				{position:absolute;text-shadow: 2px 2px #ff0000;width:100%;background:rgba(0,0,0,0.4);color:#fff;bottom:0;padding:6px 10px;margin:0;text-align:center}
.content-section						{background:#fff;height:100vh;margin-top:15px}

.dynamicTile .col-sm-2,
.dynamicTile .col-sm-6                  {padding:5px}

.stats									{}  
.stats .header							{padding: 50px 0 25px;color:#fff;}
.stats .header a                        {display:inline-block;margin-right:10px;color:#fff;font-size:24px}
.stats .header h3						{margin:0;font-weight:300;font-size:30px;display:inline-block}

.operations								{padding:10px}
.operations	img							{min-height:260px;}
.operations .col-md-4  					{padding: 5px} 

.dashboard-stat {
    display: block; 
    overflow: hidden; 
	min-height:125px;-webkit-transition: all 0.4s ease;transition: all 0.4s ease
} 

.dashboard-stat:hover .visual>i			{opacity:.5}
.dashboard-stat:hover .details .number	{-webkit-transform:scale(1.05);transform:scale(1.05)}

.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat .visual>i {
    margin-left: -35px;
    font-size: 80px;
    line-height: 80px;
	margin-top:50px;
	color: #FFF;
    opacity: .2;
}
.dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
	color:#fff;
} 
.dashboard-stat .details .number {
    padding-top: 20px;
    text-align: right;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
	font-weight:600 
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
	font-weight:400; 
}
.status-blue                                           {color: #3598dc}
.status-red                                            {color: #e7505a}
.status-green                                                 {color: #17C4BB}
.status-purple                                         {color: #8E44AD}
.status-carrot                                         {color: #e67e22}
.status-dark                                          {color: #5E738B}
.status-yellow                                         {color: #f1c40f}


.blue                                           {background-color: #3598dc}
.red                                            {background-color: #e7505a}
.green                                                 {background-color: #17C4BB}
.purple                                         {background-color: #8E44AD}
.carrot                                         {background-color: #e67e22}
.dark                                          {background-color: #5E738B}
.yellow                                         {background-color: #f1c40f}



md-select .md-select-value      {border-radius:0;padding:5px 10px;border:none}

.chart-container                {background:#fff;padding:10px;max-height:none !important}
.c3 svg                         {width:100%}
 
.adm .col-md-6                  {padding:5px}