﻿<section class="-c-fte">
    <div class="container">
        <div class="page-wraper">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="DFTE">
                    <md-content>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-2">

                                            <md-input-container>
                                                <label>Account</label>
                                                <md-select ng-model="AccountSelected" ng-change="accountIdselected(AccountSelected)">
                                                    <md-option ng-repeat="accounts in accountdetails" ng-value="accounts.accountId">{{accounts.accountName}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                            <!--<label>Select Account</label>
                                            <select class="form-control" ng-options="accounts.accountName for accounts in accountdetails" ng-model="selectedAccount" ng-change="accountIdselected(selectedAccount.accountId)">
                                                <!--<option ng-repeat="accounts in accountdetails">
            {{accounts.accountId}} - {{accounts.accountName}}
        </option>
                                            </select>-->
                                        <div class="col-sm-2">
                                            <md-input-container>
                                                <label>Month</label>
                                                <md-select ng-model="selectedMonth" ng-change="monthSelected(selectedMonth)">
                                                    <md-option ng-repeat="month in months">{{month.month}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                            </div>
                                            <!--<div class="col-sm-4">
            <label>Month</label>
            <select class="form-control" ng-options="months.month for months in months" ng-model="selectedMonth" ng-change="monthSelected(selectedMonth.month)"></select>
        </div>--><div class="col-sm-2">
    <md-input-container>
        <label>Year</label>
        <md-select ng-model="selectedYear" ng-change="yearSelected(selectedYear)">
            <md-option ng-repeat="year in years">{{year.year}}</md-option>
        </md-select>
    </md-input-container>
                                        </div>
    <!--<div class="col-sm-4">
        <label>Year</label>
        <select class="form-control" ng-options="years.year for years in years" ng-model="selectedYear" ng-change="yearSelected(selectedYear.year)"></select>
    </div>-->
    <!--<div class="col-sm-2 text-right top-padding"></div>
    <div class="col-sm-3">

    </div>
    <div ng-if="accoundIdSelected">
        <div class="col-xs-1 text-right top-padding"></div>
        <div class="col-xs-2">

        </div>
    </div>
    <div ng-if="monthselected">
        <div class="col-xs-1 text-right top-padding"></div>
        <div class="col-xs-2">

        </div>
    </div>-->
</div>
                                 
                                <div class="table-responsive">
                                    <table class="table table-bordered std-table">
                                        <thead>
                                            <tr>
                                                <th>Revenue</th>
                                                <th>Additional Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" placeholder="Enter Revenue..." ng-model="ftedata.revenue"></td>
                                                <td><input type="text" class="form-control" placeholder="Enter Cost..." ng-model="ftedata.additionalCost"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-bordered std-table fte">
                                        <thead>
                                            <tr>
                                                <th>Onshore FTE</th>
                                                <th>Offshore FTE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>ENT</th>
                                                                <th>INT</th>
                                                                <th>SPE</th>
                                                                <th>EXP</th>
                                                                <th>MG1</th>
                                                                <th>MG2</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.onshoreEnt"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.onshoreInt"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.onshoreSpe"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.onshoreExp"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.onshoreMg1"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.onshoreMg2"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>ADV</th>
                                                                <th>ENT</th>
                                                                <th>INT</th>
                                                                <th>SPE</th>
                                                                <th>EXP</th>
                                                                <th>MG1</th>
                                                                <th>MG2</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.offshoreAdv"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.offshoreEnt"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.offshoreInt"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.offshoreSpe"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.offshoreExp"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.offshoreMg1"></td>
                                                                <td><input type="text" class="form-control" ng-model="ftedata.offshoreMg2"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <thead><tr><th>Additional Expenses</th></tr></thead>
                                        <tbody><tr><td><input type="text" class="form-control" ng-model="ftedata.additonalExpenses" placeholder="Enter Expenses..."></td></tr></tbody>
                                    </table>
                                    <small class="modified" ng-if="ftedata.lastUpdatedBy">** {{ftedata.lastUpdatedBy}} on {{ftedata.lastUpdatedOn | date:'medium'}}</small>
                                </div>
                                <div class="panel panel-default std-panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h4> Change Request </h4>
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="text" class="form-control" ng-model="search" placeholder="Search Change Request">
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-fixed" ng-if="ftechangeRequests.length > 0">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-2" ng-click="sortData('cr')">
                                                    <u>
                                                        CR
                                                    </u> <a href=""><span ng-class="getSortClass('cr')"></span></a>
                                                </th>
                                                <th class="col-xs-2" ng-click="sortData('reason')">
                                                    <u>
                                                        Reason
                                                    </u><a href=""><span ng-class="getSortClass('reason')"></span></a>
                                                </th>
                                                <th class="col-xs-2" ng-click="sortData('additionafte')">
                                                    <u>
                                                        AdditionalFTE
                                                    </u><a href=""><span ng-class="getSortClass('additionafte')"></span></a>
                                                </th>
                                                <th class="col-xs-2" ng-click="sortData('amount')">
                                                    <u>
                                                        Amount
                                                    </u><a href=""><span ng-class="getSortClass('amount')"></span></a>
                                                </th>
                                                <th class="col-xs-2" ng-click="sortData('status')">
                                                    <u>
                                                        Status
                                                    </u><a href=""><span ng-class="getSortClass('status')"></span></a>
                                                </th>
                                                <th class="col-xs-2">Approve/Reject</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="changeRequest in ftechangeRequests | filter:search | orderBy:sortColumn:reverseSort">
                                                <td class="col-xs-2">{{changeRequest.cr}}</td>
                                                <td class="col-xs-2">{{changeRequest.reason}}</td>
                                                <td class="col-xs-2">{{changeRequest.additionalFTE}}</td>
                                                <td class="col-xs-2">{{changeRequest.amount}}</td>
                                                <td class="col-xs-2" ng-if="changeRequest.status == 1">Approved</td>
                                                <td class="col-xs-2" ng-if="changeRequest.status == 0">Rejected</td>
                                                <td class="col-xs-2" ng-if="changeRequest.status == 2">Pending</td>
                                                <td class="col-xs-2" ng-if="changeRequest.status == 2">

                                                    <button type="button" class="btn btn-success" ng-click="approvefteCR(changeRequest.crId,1)">
                                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger" ng-click="rejectfteCR(changeRequest.crId,0)">
                                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                                    </button>

                                                </td>
                                                <td class="col-xs-2" ng-if="changeRequest.status == 1" style="padding-right: 58px;">
                                                    <span class="btn-success glyphicon glyphicon-ok-sign"></span>
                                                </td>
                                                <td class="col-xs-2" ng-if="changeRequest.status == 0" style="padding-right: 58px;">
                                                    <span class="btn-danger glyphicon glyphicon-remove-sign"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table std-table">
                                        <tbody>
                                            <tr>
                                                <td style="padding-top:15px">CR:</td>
                                                <td><input type="text" class="form-control" ng-model="ftedata.cr"></td>
                                                <td style="padding-top:15px">Reason:</td>
                                                <td><input type="text" class="form-control" ng-model="ftedata.reason"></td>
                                                <td style="padding-top:15px">Additional FTE:</td>
                                                <td><input type="text" class="form-control" ng-model="ftedata.additionalFte"></td>
                                                <td style="padding-top:15px">Amount:</td>
                                                <td><input type="text" class="form-control" ng-model="ftedata.amount"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class=" text-right panel-footer">
                                        <button class="btn btn-primary" ng-click="adddfteCR()">
                                            <span class="glyphicon glyphicon-send"></span> Send For Approval
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default std-panel">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <h4> Contarct ID(s) </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <md-chips ng-model="contractIdsAry" 
                                                          readonly="false" 
                                                          md-on-append="addChip($chip)">
                                                    <button class="md-chip-remove"
                                                            ng-click="chipRemove($chip)" md-chip-remove>
                                                        <md-icon md-svg-icon="md-close"></md-icon>
                                                    </button>
                                                </md-chips>
                                                <!--<div ng-repeat="contract in contractId">
                                                    <div class="row">
                                                        <div class="col-xs-2">{{contract.contractId}}</div>
                                                        <div class="col-xs-10"><a href="" class="icon-delete" ng-click="delcontract(contract.contractId)"></a></div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                </div>
                                                <div class="col-sm-2"><input ng-class="{ 'error-control' : !contractisValid }" type="text" class="form-control" ng-model="contractdetails.contractId" id="contract" /></div>
                                                <div class="col-xs-10"><a href="" class="icon-add btn" ng-click="addcontract()">&nbsp;Add</a> </div>
                                            </div><p ng-show="!contractisValid" class="validation-text">**Please enter contract id</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default std-panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h4> SAP/MSP related processes </h4>
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="text" class="form-control" ng-model="WBSsearch" placeholder="Search WBS">
                                            </div>

                                        </div>
                                    </div>
                                    <table class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-3">WBS Code</th>
                                                <th class="col-xs-4">Description</th>
                                                <th class="col-xs-3">Last Modified By</th>
                                                <th class="col-xs-2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="wbsdet in wbsdetails  | filter:WBSsearch" ng-if="wbsdet.isActive">
                                                <td class="col-xs-3" ng-model="wbsdetails.wbsCode">{{wbsdet.wbsCode}}</td>
                                                <td class="col-xs-4" ng-model="wbsdetails.wbsDescription">{{wbsdet.wbsDescription}}</td>
                                                <td class="col-xs-3">{{wbsdet.lastUpdatedBy}} {{wbsdet.lastUpdatedOn | date:'medium'}}</td>
                                                <td class="col-xs-2"><a href="" class="icon-delete" ng-click="delrow(wbsdet.wbsCode)"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-right">
                                        <table class="table std-table">
                                            <tr>
                                                <td>WBS</td>
                                                <td><input type="text" ng-class="{ 'error-control' : !wbscodeisValid }" class="form-control" ng-model="wbs.wbscode" id="wbscode">
                                                <td>Description</td>
                                                <td><input type="text" class="form-control" ng-model="wbs.wbsdescription" id="wbsdescription"></td>
                                                <!--<td class="col-xs-3"></td>-->
                                                <td> <a href="" class="icon-add btn" ng-click="addrow()">&nbsp;Add</a> </td>
                                                <!--<td class="col-xs-1" ng-click="delrow(wbs.wbscode)"><a href="" class="icon-delete"></a></td>-->
                                            </tr>
                                            <div>
                                                <span><p ng-show="!wbscodeisValid" class="validation-text">**Please enter wbs code</p></span>
                                            </div>
                                        </table>
                                    </div>

                                    
                                </div>
                                <br />
                                <br />
                                <div class="footer text-right">
                                    <button class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="NDFTE">
                    <md-content>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <!--<div class="header">-->
                                <br />
                                    <div class="row">
                                        <!--<div class="col-sm-2 text-right top-padding"><b>Select Account :</b></div>-->
                                        <div class="col-sm-2">
                                            <md-input-container>
                                                <label>Account</label>
                                                <md-select ng-model="dfteaccountId" ng-change="accountIdselecteddfte(dfteaccountId)">
                                                    <md-option ng-repeat="accounts in accountdetails" ng-value ="accounts.accountId" >{{accounts.accountName}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <!--<select class="form-control" ng-options="accounts.accountName for accounts in accountdetails" ng-model="selectedAccount" ng-change="accountIdselected(selectedAccount.accountId)">
                                                <option ng-repeat="accounts in accountdetails">
                                                    {{accounts.accountId}} - {{accounts.accountName}}
                                                </option>
                                            </select>-->
                                        </div>
                                        <div class="col-sm-2">
                                            <md-input-container>
                                                <label>Year</label>
                                                <md-select ng-model="selecteddfteYear" ng-change="yearSelecteddfte(selecteddfteYear)">
                                                    <md-option ng-repeat="year in years">{{year.year}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <!--<div class="col-xs-1 text-right top-padding"><b>Year :</b></div>-->
                                            <!--<div class="col-xs-2">
            <select class="form-control" ng-options="years.year for years in years" ng-model="selectedYear" ng-change="yearSelected(selectedYear.year)"></select>
        </div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered std-table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Nov</th>
                                                <th>Dec</th>
                                                <th>Jan</th>
                                                <th>Feb</th>
                                                <th>Mar</th>
                                                <th>Apr</th>
                                                <th>May</th>
                                                <th>Jun</th>
                                                <th>Jul</th>
                                                <th>Aug</th>
                                                <th>Sep</th>
                                                <th>Oct</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Cost Baselined:</td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedNov"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedDec"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedJan"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedFeb"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedMar"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedApr"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedMay"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedJun"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedJul"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedAug"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedSep"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.costBaselinedOct"></td>
                                            </tr>
                                            <tr>
                                                <td>Additional Cost:</td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostNov"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostDec"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostJan"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostFeb"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostMar"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostApr"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostMay"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostJun"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostJul"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostAug"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostSep"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.additionalCostOct"></td>
                                            </tr>
                                            <tr>
                                                <td>Risk Amount:</td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountNov"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountDec"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountJan"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountFeb"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountMar"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountApr"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountMay"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountJun"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountJul"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountAug"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountSep"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.riskAmountOct"></td>
                                            </tr>
                                            <tr>
                                                <td>Revenue Baseline:</td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineNov"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineDec"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineJan"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineFeb"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineMar"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineApr"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineMay"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineJun"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineJul"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineAug"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineSep"></td>
                                                <td><input type="text" class="form-control" ng-model="dftedata.baselineOct"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                    <div class="panel panel-default std-panel">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-9">
                                                    <h4> Change Request </h4>
                                                </div>
                                                <div class="col-xs-3">
                                                    <input type="text" class="form-control" ng-model="search" placeholder="Search Change Request">
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-fixed" ng-if="changeRequests.length > 0">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-2" ng-click="sortData('cr')">
                                                        <u>
                                                            CR
                                                        </u> <a href=""><span ng-class="getSortClass('cr')"></span></a>
                                                    </th>
                                                    <th class="col-xs-2" ng-click="sortData('reason')">
                                                        <u>
                                                            Reason
                                                        </u><a href=""><span ng-class="getSortClass('reason')"></span></a>
                                                    </th>
                                                    <th class="col-xs-2" ng-click="sortData('additionafte')">
                                                        <u>
                                                            AdditionalFTE
                                                        </u><a href=""><span ng-class="getSortClass('additionafte')"></span></a>
                                                    </th>
                                                    <th class="col-xs-1" ng-click="sortData('amount')">
                                                        <u>
                                                            Amount
                                                        </u><a href=""><span ng-class="getSortClass('amount')"></span></a>
                                                    </th>
                                                    <th class="col-xs-1" ng-click="sortData('month')">
                                                        <u>
                                                            Month
                                                        </u><a href=""><span ng-class="getSortClass('month')"></span></a>
                                                    </th>
                                                    <th class="col-xs-2" ng-click="sortData('status')">
                                                        <u>
                                                            Status
                                                        </u><a href=""><span ng-class="getSortClass('status')"></span></a>
                                                    </th>
                                                    <th class="col-xs-2">Approve/Reject</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="changeRequest in changeRequests | filter:search | orderBy:sortColumn:reverseSort">
                                                    <td class="col-xs-2">{{changeRequest.cr}}</td>
                                                    <td class="col-xs-2">{{changeRequest.reason}}</td>
                                                    <td class="col-xs-2">{{changeRequest.additionalFTE}}</td>
                                                    <td class="col-xs-1">{{changeRequest.amount}}</td>
                                                    <td class="col-xs-1">{{changeRequest.month}}
                                                    <td class="col-xs-2" ng-if="changeRequest.status == 1">Approved</td>
                                                    <td class="col-xs-2" ng-if="changeRequest.status == 0">Rejected</td>
                                                    <td class="col-xs-2" ng-if="changeRequest.status == 2">Pending</td>
                                                    <td class="col-xs-2" ng-if="changeRequest.status == 2">

                                                        <button type="button" class="btn btn-success" ng-click="approveCR(changeRequest.crId,1)">
                                                            <span class="glyphicon glyphicon-ok-sign"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger" ng-click="rejectCR(changeRequest.crId,0)">
                                                            <span class="glyphicon glyphicon-remove-sign"></span>
                                                        </button>

                                                    </td>
                                                    <td class="col-xs-2" ng-if="changeRequest.status == 1" style="padding-right: 58px;">
                                                        <span class="btn-success glyphicon glyphicon-ok-sign"></span>
                                                    </td>
                                                    <td class="col-xs-2" ng-if="changeRequest.status == 0" style="padding-right: 58px;">
                                                        <span class="btn-danger glyphicon glyphicon-remove-sign"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table std-table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                    <md-input-container style=" margin-top: 0px; margin-bottom: 0px; ">
                                                        <label>Month</label>
                                                        <md-select ng-model="dftedata.selectedNDFTECRMonth">
                                                            <md-option ng-repeat="month in months">{{month.month}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                    </td>
                                                    <td style="padding-top:15px">CR:</td>
                                                    <td><input type="text" class="form-control" ng-model="dftedata.cr"></td>
                                                    <td style="padding-top:15px">Reason:</td>
                                                    <td><input type="text" class="form-control" ng-model="dftedata.reason"></td>
                                                    <td style="padding-top:15px">Additional FTE:</td>
                                                    <td><input type="text" class="form-control" ng-model="dftedata.additionalFte"></td>
                                                    <td style="padding-top:15px">Amount:</td>
                                                    <td><input type="text" class="form-control" ng-model="dftedata.amount"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class=" text-right panel-footer">
                                            <button class="btn btn-primary" ng-click="addCR()">
                                                <span class="glyphicon glyphicon-send"></span> Send For Approval
                                            </button>
                                        </div>
                                    </div>
                               
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default std-panel">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <h4> Contarct ID(s) </h4>
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="panel-body">
                                                <div ng-repeat="contract in ndftecontractdetail">
                                                    <div class="col-xs-2">{{contract.contractId}}</div>
                                                    <div class="col-xs-2">{{contract.month}}</div>
                                                    <div class="col-xs-8"><a href="" class="icon-delete" ng-click="delndftecontract(contract.contractId)"></a></div>
                                                    <br />
                                                    <br />
                                                </div>
                                               <div class="col-xs-3">
                                                        <input type="text" class="form-control" ng-model="ndftecontractdetails.contractId" id="ndftecontract" />
                                                   </div>
                                                <div class="col-xs-3">
                                                    <md-input-container style=" margin-top: 0px; margin-bottom: 0px; ">
                                                        <label>Month</label>
                                                        <md-select ng-model="ndftecontractdetails.contractMonth">
                                                            <md-option ng-repeat="month in months">{{month.month}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                                  <div class="col-xs-2"><a href="" class="icon-add btn" ng-click="addNDFTEcontract()">&nbsp;Add</a> </div>
                                                </div><p ng-show="!contractisValid" class="validation-text">**Please enter contract id</p>
                                        </div>
                                    </div>
                                </div>
                            <div class="panel panel-default std-panel">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <h4> SAP/MSP related processes </h4>
                                        </div>
                                         <div class="col-xs-6">
                                                <input type="text" class="form-control" ng-model="WBSsearch" placeholder="Search WBS">
                                            </div>

                                        </div>
                                </div>
                                <table class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3">WBS Code</th>
                                            <th class="col-xs-3">Description</th>
                                            <th class="col-xs-2">Month</th>
                                            <th class="col-xs-3">Last Modified By</th>
                                            <th class="col-xs-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wbsdet in ndwbsdetail  | filter:WBSsearch" ng-if="wbsdet.isActive">
                                            <td class="col-xs-3" ng-model="wbsdetails.wbsCode">{{wbsdet.wbsCode}}</td>
                                            <td class="col-xs-3" ng-model="wbsdetails.wbsDescription">{{wbsdet.wbsDescription}}</td>
                                            <td class="col-xs-2" ng-model="wbsdetails.Month">{{wbsdet.month}}</td>
                                            <td class="col-xs-3">{{wbsdet.lastUpdatedBy}} {{wbsdet.lastUpdatedOn | date:'medium'}}</td>
                                            <td class="col-xs-1"><a href="" class="icon-delete" ng-click="nddelrow(wbsdet.wbsCode)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    <table class="table std-table">
                                        <tr><td>
                                            <div class="col-xs-3">
                                                <md-input-container style=" margin-top: 0px; margin-bottom: 0px; ">
                                                    <label>Month</label>
                                                    <md-select ng-model="ndwbs.Month">
                                                        <md-option ng-repeat="month in months">{{month.month}}</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                </div>
                                                <td>
                                                <td>WBS</td>
                                                <td><input type="text" ng-class="{ 'error-control' : !wbscodeisValid }" class="form-control" ng-model="ndwbs.wbscode" id="ndwbscode">
                                                <td>Description</td>
                                                <td><input type="text" class="form-control" ng-model="ndwbs.wbsdescription" id="ndwbsdescription"></td>
                                                <!--<td class="col-xs-3"></td>-->
                                                <td> <a href="" class="icon-add btn" ng-click="ndaddrow()">&nbsp;Add</a> </td>
                                                <!--<td class="col-xs-1" ng-click="delrow(wbs.wbscode)"><a href="" class="icon-delete"></a></td>-->
</tr>
                                        <div>
                                            <span><p ng-show="!wbscodeisValid" class="validation-text">**Please enter wbs code</p></span>
                                        </div>
                                    </table>
                                </div>


                            </div>
                            <br />
                            <br />
                                <div class="footer text-right">
                                    <button class="btn btn-primary" ng-click="dftesave()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                                </div>
                          
        <!--</div>-->
    </div>
    </md-content>
    </md-tab>
    </md-tabs>
</section>
