﻿.-c-manager-detail{
    margin-top:75px;

    .red{
        color:#d1504f;
    }
    .small-font{
        font-size:12px;
    }   
    .float-right{
        text-align:right;
    }
    .ctrl-lbl{
        padding-top:7px;
        margin-bottom:5px;
    }
    a:hover{
        text-decoration:none;
        cursor:pointer;
    }   
}