﻿<section class="-c-manager-detail">
    <div class="container">
        <div class="page-wraper">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="manager-detail">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="col-xs-4">
                                <!--<md-input-container>
                                    <label>Year</label>
                                    <md-select ng-model="detail.dropdown.selectedYear" ng-change="listChanged(detail.dropdown.selectedYear)">
                                        <md-option ng-repeat="yearitem in detail.dropdown.yeardropdown">{{yearitem}}</md-option>
                                    </md-select>
                                </md-input-container>-->
                                <md-button class="md-fab md-mini"
                                           aria-label="Go Back"
                                           ng-click="back()">
                                    <md-icon md-svg-icon="client/assets/images/ic_keyboard_arrow_left_white_24px.svg"></md-icon>
                                    <md-tooltip>Go Back</md-tooltip>
                                </md-button>
                                
                            </div>
                        </div>
                        <div class="col-sm-4 float-right">
                            <md-button class="md-fab md-mini"
                                       aria-label="Export to PDF"
                                       ng-click="generateDetailReport()">
                                <md-icon md-svg-icon="client/components/img/ic_insert_drive_file_white_24px.svg"></md-icon>
                                <md-tooltip>Export to PDF</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel-heading">
                                <h4>
                                    Trend for 
                                    <!--<span ng-bind="' ' + detail.dropdown.selectedManager"></span>-->
                                    <md-input-container>
                                        <md-select ng-model="detail.dropdown.selectedManager" ng-change="listChanged(detail.dropdown.selectedManager)">
                                            <md-option ng-repeat="mgritem in detail.dropdown.managersdropdown">{{mgritem}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <span ng-bind="' ' + detail.dropdown.selectedCalculation + ' for Financial Year '"></span>
                                    <md-input-container>
                                        <md-select ng-model="detail.dropdown.selectedYear" ng-change="listChanged(detail.dropdown.selectedYear)">
                                            <md-option ng-repeat="yearitem in detail.dropdown.yeardropdown">{{yearitem}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </h4>
                            </div>
                            <c3chart bindto-id="managertrend"
                                     chart-data="detail.charts.calculationTrend"
                                     chart-columns="detail.chartOptions.calculationTrendCols"
                                     chart-x="detail.chartOptions.calculationTrendDataX">
                                <chart-axis>
                                    <chart-axis-x axis-id="monthyear"
                                                  axis-type="category">
                                    </chart-axis-x>
                                </chart-axis>
                            </c3chart>
                        </div>
                    </div>
                </div>
            </div>                                    
        </div>
    </div>
</section>
