﻿<section class="-c-vdf">
    <div class="container">
        <div class="page-wraper">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Monthly">
                    <md-content>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="reports-overall">
                                <br />
                                <br />
                                <div id="chart-export-div">
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <md-input-container>
                                                <label>Account Name</label>
                                                <md-select ng-model="ddlaccountname">
                                                    <md-option ng-repeat="aname in accountname" ng-click="accountnam(aname.accountname)">{{aname.accountname}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <c3chart bindto-id="vdfmonthcustomer"
                                                     chart-data="vdfChart.chartdata"
                                                     chart-columns="vdfChart.chartdatacols"
                                                     chart-x="vdfChart.chartdatax">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="closuremonth"
                                                                  axis-type="category">
                                                        <chart-axis-x-tick tick-rotate="50" />
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Month Dollar Benefit for customer</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-6">Row Label</th>
                                                                <th class="col-xs-6">Month Dollar Benefit for customer</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="chartdat in griddata">
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat.closuremonth }}</span>
                                                                </td>
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat.dollarBenefitforcustomer }}</span>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-6"><span><b>Total</b></span></td>
                                                                <td class="col-xs-6"><span><b>{{ totaldollarcustomer }}</b></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div id="chart-export-div">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <md-input-container>
                                                <label>Account Name</label>
                                                <md-select ng-model="ddlaccountname1">
                                                    <md-option ng-repeat="aname in accountname" ng-click="accountnam1(aname.accountname)">{{aname.accountname}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <c3chart bindto-id="vdfmonthHP"
                                                     chart-data="vdfChart1.chartdata"
                                                     chart-columns="vdfChart1.chartdatacols"
                                                     chart-x="vdfChart1.chartdatax">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="closuremonth"
                                                                  axis-type="category">
                                                        <chart-axis-x-tick tick-rotate="50" />
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Month Dollar Benefit for HPE</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-6">Row Label</th>
                                                                <th class="col-xs-6">Dollar Benefit for HP</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="chartdat1 in griddata1">
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat1.closuremonth }}</span>
                                                                </td>
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat1.dollarBenefitHP }}</span>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-6"><span><b>Total</b></span></td>
                                                                <td class="col-xs-6"><span><b>{{ totaldollarhp }}</b></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div id="chart-export-div">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <md-input-container>
                                                <label>Account Name</label>
                                                <md-select ng-model="ddlaccountname2">
                                                    <md-option ng-repeat="aname in accountname" ng-click="accountnam2(aname.accountname)">{{aname.accountname}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <c3chart bindto-id="vdfeffortsaving"
                                                     chart-data="vdfChart2.chartdata"
                                                     chart-columns="vdfChart2.chartdatacols"
                                                     chart-x="vdfChart2.chartdatax">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="closuremonth"
                                                                  axis-type="category">
                                                        <chart-axis-x-tick tick-rotate="50" />
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Month EffortSaving</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-6">Row Label</th>
                                                                <th class="col-xs-6">EffortSaving</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="chartdat2 in griddata2">
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat2.closuremonth }}</span>
                                                                </td>
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat2.effortSaving }}</span>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-6"><span><b>Total</b></span></td>
                                                                <td class="col-xs-6"><span><b>{{ totalEffortSaving }}</b></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div id="chart-export-div">
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <md-input-container>
                                                <label>Account Name</label>
                                                <md-select ng-model="ddlaccountname3">
                                                    <md-option ng-repeat="aname in accountname" ng-click="accountnam3(aname.accountname)">{{aname.accountname}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <c3chart bindto-id="vdfincidentreduction"
                                                     chart-data="vdfChart3.chartdata"
                                                     chart-columns="vdfChart3.chartdatacols"
                                                     chart-x="vdfChart3.chartdatax">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="closuremonth"
                                                                  axis-type="category">
                                                        <chart-axis-x-tick tick-rotate="50" />
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Month Incident Reduction</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-6">Row Label</th>
                                                                <th class="col-xs-6">Incident Reduction</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="chartdat3 in griddata3">
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat3.closuremonth }}</span>
                                                                </td>
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat3.incidentreduction }}</span>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-6"><span><b>Total</b></span></td>
                                                                <td class="col-xs-6"><span><b>{{ totalIncidentreduction }}</b></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Quaterly">
                    <md-content>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="reports-accounts">
                                <div id="chart-export-div">
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <md-input-container>
                                                <label>Account Name</label>
                                                <md-select ng-model="ddlaccountname4">
                                                    <md-option ng-repeat="aname in accountname" ng-click="accountnam4(aname.accountname)">{{aname.accountname}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <c3chart bindto-id="vdfquacustomer"
                                                     chart-data="vdfChart4.chartdata"
                                                     chart-columns="vdfChart4.chartdatacols"
                                                     chart-x="vdfChart4.chartdatax">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="closureQuarter"
                                                                  axis-type="category">
                                                        <chart-axis-x-tick tick-rotate="50" />
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Quater Dollar Benefit for customer</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-6">Row Label</th>
                                                                <th class="col-xs-6">Quater Dollar Benefit for customer</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="chartdat4 in griddata4">
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat4.closureQuarter }}</span>
                                                                </td>
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat4.dollarBenefitforcustomer }}</span>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-6"><span><b>Total</b></span></td>
                                                                <td class="col-xs-6"><span><b>{{ totaldollarcustomerqua }}</b></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div id="chart-export-div">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <md-input-container>
                                                <label>Account Name</label>
                                                <md-select ng-model="ddlaccountname5">
                                                    <md-option ng-repeat="aname in accountname" ng-click="accountnam5(aname.accountname)">{{aname.accountname}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <c3chart bindto-id="vdfquaHP"
                                                     chart-data="vdfChart5.chartdata"
                                                     chart-columns="vdfChart5.chartdatacols"
                                                     chart-x="vdfChart5.chartdatax">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="closureQuarter"
                                                                  axis-type="category">
                                                        <chart-axis-x-tick tick-rotate="50" />
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Quater Dollar Benefit for HPE</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-6">Row Label</th>
                                                                <th class="col-xs-6">Dollar Benefit for HP</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="chartdat5 in griddata5">
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat5.closureQuarter }}</span>
                                                                </td>
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat5.dollarBenefitHP }}</span>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-6"><span><b>Total</b></span></td>
                                                                <td class="col-xs-6"><span><b>{{ totaldollarhpqua }}</b></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div id="chart-export-div">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <md-input-container>
                                                <label>Account Name</label>
                                                <md-select ng-model="ddlaccountname6">
                                                    <md-option ng-repeat="aname in accountname" ng-click="accountnam6(aname.accountname)">{{aname.accountname}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <c3chart bindto-id="vdfquaeffortsaving"
                                                     chart-data="vdfChart6.chartdata"
                                                     chart-columns="vdfChart6.chartdatacols"
                                                     chart-x="vdfChart6.chartdatax">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="closureQuarter"
                                                                  axis-type="category">
                                                        <chart-axis-x-tick tick-rotate="50" />
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Quater EffortSaving</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-6">Row Label</th>
                                                                <th class="col-xs-6">EffortSaving</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="chartdat6 in griddata6">
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat6.closureQuarter }}</span>
                                                                </td>
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat6.effortSaving }}</span>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-6"><span><b>Total</b></span></td>
                                                                <td class="col-xs-6"><span><b>{{ totalEffortSavingqua }}</b></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div id="chart-export-div">
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <md-input-container>
                                                <label>Account Name</label>
                                                <md-select ng-model="ddlaccountname7">
                                                    <md-option ng-repeat="aname in accountname" ng-click="accountnam7(aname.accountname)">{{aname.accountname}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <c3chart bindto-id="vdfquaincidentreduction"
                                                     chart-data="vdfChart7.chartdata"
                                                     chart-columns="vdfChart7.chartdatacols"
                                                     chart-x="vdfChart7.chartdatax">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="closureQuarter"
                                                                  axis-type="category">
                                                        <chart-axis-x-tick tick-rotate="50" />
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Quater Incident Reduction</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-6">Row Label</th>
                                                                <th class="col-xs-6">Incident Reduction</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="chartdat7 in griddata7">
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat7.closureQuarter }}</span>
                                                                </td>
                                                                <td class="col-xs-6">
                                                                    <span>{{ chartdat7.incidentreduction }}</span>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-6"><span><b>Total</b></span></td>
                                                                <td class="col-xs-6"><span><b>{{ totalIncidentreductionqua }}</b></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</section>
