﻿.-c-vdf{
    margin-top:75px;

    .error-control {
        border: 1px solid #d0021b;
    }
    .validation-text {
        color: #d0021b;
    }
    .top-padding{
        padding-top: 7px;
    }
     .float-right{
        text-align:right;
    }
tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.table.ex           {margin:-10px;margin-left:0}

}