﻿<section class="-c-operational-dashboard">
    <div class="container">
        <div class="page-wraper">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="row">
                    <div class="col-sm-3">
                        <md-input-container>
                            <label>Month</label>
                            <md-select ng-model="selectedMonth" ng-change="monthSelected(selectedMonth)">
                                <md-option ng-repeat="month in months">{{month.month}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                        <div class="col-sm-3">
                            <md-input-container>
                                <label>Year</label>
                                <md-select ng-model="selectedYear" ng-change="yearSelected(selectedYear)">
                                    <md-option ng-repeat="year in years">{{year.year}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-sm-3">
                            <md-input-container>
                                <label>Service Line</label>
                                <md-select ng-model="selectedserviceline" ng-change="servicelineselected(selectedserviceline)">
                                    <md-option ng-repeat="sline in serviceline">{{sline.sl}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="ManagerSearch" placeholder="Search Manager" style="margin-top:15px">
                        </div>
                    </div><br />
                    <!--<div ng-if="show" style="overflow:scroll">
                        <table class="table table-bordered std-table table-fixed">
                            <thead>
                                <tr>
                                    <td></td>
                                    <th ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">{{details.manger}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>-->
                    <div ng-if="show" style="overflow:scroll;height:500px"> 
                        <table class="table table-bordered std-table table-fixed">
                            <thead>
                                <tr>
                                    <td></td>
                                    <th ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">{{details.manger}}</th>
                                </tr>
                            </thead>
                            <!--</table>
                        <table class="table table-bordered std-table table-fixed">-->
                            <thead>
                                <tr>
                                    <th>Total HC</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'TotalHC')">{{details.total}}</a>
                                        <i ng-class="{
                                                                        'icon-up':details.forecastHC==='high',
                                                                       'icon-down':details.forecastHC==='low'
                                                                       }"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Attrition</th>
                                    <td ng-repeat="details in display  | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Attrition')">{{details.attrition}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>LOA</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Leave Of Absence')">{{details.loa}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>LWP</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Leave With Pay')">{{details.lwp}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>ADV</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'ADV')">{{details.adv}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>COR</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'COR')">{{details.cor}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>ENT</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'ENT')">{{details.ent}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>INT</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'INT')">{{details.int}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>SEN</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'SEN')">{{details.sen}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>BAS</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'BAS')">{{details.bas}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>DIR</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'DIR')">{{details.dir}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>EXP</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'EXP')">{{details.exp}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>MAS</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'MAS')">{{details.mas}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>MG1</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'MG1')">{{details.mg1}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>MG2</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'MG2')">{{details.mg2}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>SPE</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'SPE')">{{details.spe}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>SU2</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'SU2')">{{details.su2}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>VP</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'VP')">{{details.vp}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Regular</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Regular')">{{details.regular}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>CWF</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'CWF')">{{details.cwf}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th colspan="100%">Metrics</th>
                                </tr>
                                <tr>
                                    <th>Bench %</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Bench %')">{{details.bench | number : 0}} %</a>
                                        <i ng-class="{
                                                                        'icon-up':details.forecastBENCH==='high',
                                                                       'icon-down':details.forecastBENCH==='low'
                                                                       }"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Utilization %</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Utilization %')">{{details.util | number : 0}} %</a>
                                        <i ng-class="{
                                                                        'icon-up':details.forecastUTIL==='high',
                                                                       'icon-down':details.forecastUTIL==='low'
                                                                       }"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th>LPI %</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'LPI %')">{{details.lpi | number : 0}} %</a>
                                        <i ng-class="{
                                                                        'icon-up':details.forecastLPI==='high',
                                                                       'icon-down':details.forecastLPI==='low'
                                                                       }"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th>SOC(R&C)</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Span Of Control (Reg & CWF)')">{{details.socrc | number : 0}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Managers (Reg/CWF)</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Mgrc')">{{details.mg}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>SOC(Reg)</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Socr')">{{details.socr | number : 0}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Managers (Reg)</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Mgr')">{{details.mgr}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th colspan="100%">Allocation Status</th>
                                </tr>
                                <tr>
                                    <th>Fully allocated</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Fully')">{{details.fully}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Partially allocated</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Partially')">{{details.partially}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Over allocated</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Over')">{{details.over}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Shared Services</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Shared')">{{details.shared}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Operations OH</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Operationsoh')">{{details.operationsoh}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Business Funded</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Businessfunded')">{{details.businessfunded}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Campus</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Campus')">{{details.campus}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Delivery OH</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Deliveryoh')">{{details.deliveryoh}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Long Leave</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Longleave')">{{details.longleave}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Support</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Support')">{{details.support}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Non GDI</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Nongdi')">{{details.nongdi}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th colspan="100%">Bench</th>
                                </tr>
                                <tr>
                                    <th>Bench</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Benchcount')">{{details.benchfte}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Partial Bench</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Partialbenchcount')">{{details.partialbenchfte}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>0-30</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Benchthirty')">{{details.benchthirty}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>31-60</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Benchsixty')">{{details.benchsixty}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>61-90</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Benchninty')">{{details.benchninty}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>90+</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Benchnintyplus')">{{details.benchnintyplus}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th colspan="100%">Freshers / Laterals</th>
                                </tr>
                                <tr>
                                    <th>Freshers FY'{{oprYearSelected}} {{displayquarter}}</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Freshertotal')">{{details.freshertotal}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{displaymonth1}}'{{oprYearSelected}}</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Fresherminus')">{{details.fresherminus}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{displaymonth2}}'{{oprYearSelected}}</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Fresher')">{{details.fresher}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span ng-if="displaymonth3 != 'JAN'">{{displaymonth3}}'{{oprYearSelected}}</span><span ng-if="displaymonth3 == 'JAN'">{{displaymonth3}}'{{diffyear}}</span></th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Fresherplus')">{{details.fresherplus}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Laterals FY'{{oprYearSelected}} {{displayquarter}}</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateraltotal')">{{details.lateraltotal}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{displaymonth1}}'{{oprYearSelected}}</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateralminus')">{{details.lateralminus}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{displaymonth2}}'{{oprYearSelected}}</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateral')">{{details.lateral}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span ng-if="displaymonth3 != 'JAN'">{{displaymonth3}}'{{oprYearSelected}}</span><span ng-if="displaymonth3 == 'JAN'">{{displaymonth3}}'{{diffyear}}</span></th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateralplus')">{{details.lateralplus}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th colspan="100%">Non Compliance</th>
                                </tr>
                                <tr>
                                    <th>MRU Mismatch</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateralplus')">{{details.mru}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Onsite Bench</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateralplus')">{{details.onsitebench}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>CWF Bench</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateralplus')">{{details.cwfbench}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>LHCC BB Vs Mobility</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateralplus')">{{details.lhccbb}}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>SABA Compliance</th>
                                    <td ng-repeat="details in display | orderBy:'-total' | filter :  ManagerSearch" ng-if="details.manger">
                                        <a ng-click="showTrend(details.manger,'Lateralplus')">{{details.saba}}</a>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
               </div>
              </div>
            </div>
</section>
