﻿.-c-operational-dashboard{
    margin-top:75px;
    
md-input-container                                 {width:100% !important}

.header-fixed {
    position: fixed;
}
    .table a{
        cursor:pointer;
    }

    table thead td i{
        float:right;
    }
}