﻿.scroll
{
	width: 40px;
	height: 40px;
	opacity: 0.3;
	position: fixed;
	bottom: 50px; /*left:1212px;*/
	display: none;
	text-indent: -9999px;
	background: url('../components/Img/icon_top.png') no-repeat;
}