﻿
    <div class="container"> 
            <div class="dynamicTile">
                <div class="row">
                    <div ng-repeat="tile in tiledetails" class="col-sm-2 col-xs-4">
                        <a class="tile" ui-sref="{{tile.tileURL}}">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="{{tile.tileImagePath}}" class="img-responsive">
                                        <h4 class="caption"><span ng-bind="tile.tileName"></span></h4>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> 
    </div> 