﻿<section class="-c-adm">
    <div class="container">
        <div class="page-wraper">
            <!--<div class="row">
                <div class="col-sm-12 float-right">
                    <p class="red small-font">* All figures are in USD</p>
                    <md-button class="md-fab md-mini"
                               aria-label="Export to PDF"
                               ng-click="generateOverallReport()">
                        <md-icon md-svg-icon="client/components/img/ic_insert_drive_file_white_24px.svg"></md-icon>
                        <md-tooltip>Export to PDF</md-tooltip>
                    </md-button>
                </div>
            </div>-->
            <br />
            <br />
            <div id="chart-export-div">
                <div class="row">
                    <div class="col-sm-2">

                        <md-input-container>
                            <label>Service Line</label>
                            <md-select ng-model="ddlserviceline">
                                <md-option ng-repeat="line in serviceline" ng-click="servicelin(line.serviceLine)">{{line.serviceLine}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-3">
                        <md-input-container>
                            <label>Account Name</label>
                            <md-select ng-model="ddlaccountname">
                                <md-option ng-repeat="aname in accountname" ng-click="accountnam(aname.accountName)">{{aname.accountName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2">
                        <md-input-container>
                            <label>Incident Category</label>
                            <md-select ng-model="ddlincidcategory">
                                <md-option ng-repeat="cat in incidentcategory" ng-click="category(cat.name)">{{cat.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2" ng-show="false">
                        <md-input-container>
                            <label>Chart-Type</label>
                            <md-select ng-model="ddltype">
                                <md-option ng-repeat="typ in typeOptions" ng-click="charttyp(typ.name)">{{typ.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <c3chart bindto-id="admyeartodate"
                                 chart-data="admChart.chartdata"
                                 chart-columns="admChart.chartdatacols"
                                 chart-x="admChart.chartdatax">
                            <chart-axis>
                                <chart-axis-x axis-id="monthYear"
                                              axis-type="category">
                                    <chart-axis-x-tick tick-rotate="50" />
                                    <chart-axis-x show="true"></chart-axis-x>
                                    <chart-axis-y show="true"></chart-axis-y>
                                </chart-axis-x>
                            </chart-axis>
                        </c3chart>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default std-panel">
                            <div class="panel-heading">
                                <h4>Ticket Status</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table rprt-table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3">Row Label</th>
                                            <th class="col-xs-3">Ticket Received</th>
                                            <th class="col-xs-3">Ticket Backlog</th>
                                            <th class="col-xs-3">Ticket Resolved</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="chartdat in griddata">
                                            <td class="col-xs-3">
                                                <span>{{ chartdat.monthYear }}</span>
                                            </td>
                                            <td class="col-xs-3">
                                                <span>{{ chartdat.totalReceived }}</span>
                                            </td>
                                            <td class="col-xs-3">
                                                <span>{{ chartdat.backlog }}</span>
                                            </td>
                                            <td class="col-xs-3">
                                                <span>{{ chartdat.totalResolved }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-3"><span><b>Total</b></span></td>
                                            <td class="col-xs-3"><span><b>{{ totalreceived }}</b></span></td>
                                            <td class="col-xs-3"><span><b>{{ totalbacklog }}</b></span></td>
                                            <td class="col-xs-3"><span><b>{{ totalresolved }}</b></span></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div id="chart-export-div">
                <div class="row">
                    <div class="col-sm-2">

                        <md-input-container>
                            <label>Service Line</label>
                            <md-select ng-model="ddlserviceline1">
                                <md-option ng-repeat="line in serviceline" ng-click="servicelin1(line.serviceLine)">{{line.serviceLine}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-3">
                        <md-input-container>
                            <label>Account Name</label>
                            <md-select ng-model="ddlaccountname1">
                                <md-option ng-repeat="aname in accountname" ng-click="accountnam1(aname.accountName)">{{aname.accountName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2">
                        <md-input-container>
                            <label>Incident Category</label>
                            <md-select ng-model="ddlincidcategory1">
                                <md-option ng-repeat="cat in incidentcategory" ng-click="category1(cat.name)">{{cat.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2" ng-show="false">
                        <md-input-container>
                            <label>Chart-Type</label>
                            <md-select ng-model="ddltype1">
                                <md-option ng-repeat="typ in typeOptions" ng-click="charttyp1(typ.name)">{{typ.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <!--<div class="col-sm-2">
                        <button class="btn btn-primary" ng-click="startlaod()">
                            <span class="glyphicon glyphicon-send"></span> SHOW-GRAPH
                        </button>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <c3chart bindto-id="admpriority"
                                 chart-data="admChart1.chartdata"
                                 chart-columns="admChart1.chartdatacols"
                                 chart-x="admChart1.chartdatax">
                            <chart-axis>
                                <chart-axis-x axis-id="monthYear"
                                              axis-type="category">
                                    <chart-axis-x-tick tick-rotate="50" />
                                    <chart-axis-x show="true"></chart-axis-x>
                                    <chart-axis-y show="true"></chart-axis-y>
                                </chart-axis-x>
                            </chart-axis>
                        </c3chart>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default std-panel">
                            <div class="panel-heading">
                                <h4>Ticket Status</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table rprt-table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2">Row Label</th>
                                            <th class="col-xs-2">Priority1</th>
                                            <th class="col-xs-2">Priority2</th>
                                            <th class="col-xs-2">Priority3</th>
                                            <th class="col-xs-2">Priority4</th>
                                            <th class="col-xs-2">Priority5</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="chartdat1 in griddata1">
                                            <td class="col-xs-3">
                                                <span>{{ chartdat1.monthYear }}</span>
                                            </td>
                                            <td class="col-xs-3">
                                                <span>{{ chartdat1.priority1 }}</span>
                                            </td>
                                            <td class="col-xs-3">
                                                <span>{{ chartdat1.priority2 }}</span>
                                            </td>
                                            <td class="col-xs-3">
                                                <span>{{ chartdat1.priority3 }}</span>
                                            </td>
                                            <td class="col-xs-3">
                                                <span>{{ chartdat1.priority4 }}</span>
                                            </td>
                                            <td class="col-xs-3">
                                                <span>{{ chartdat1.priority5 }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-3"><span><b>Total</b></span></td>
                                            <td class="col-xs-3"><span><b>{{ totalpriority1 }}</b></span></td>
                                            <td class="col-xs-3"><span><b>{{ totalpriority2 }}</b></span></td>
                                            <td class="col-xs-3"><span><b>{{ totalpriority3 }}</b></span></td>
                                            <td class="col-xs-3"><span><b>{{ totalpriority4 }}</b></span></td>
                                            <td class="col-xs-3"><span><b>{{ totalpriority5 }}</b></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div id="chart-export-div">
                <div class="row">
                    <div class="col-sm-2">

                        <md-input-container>
                            <label>Service Line</label>
                            <md-select ng-model="ddlserviceline2">
                                <md-option ng-repeat="line in serviceline" ng-click="servicelin2(line.serviceLine)">{{line.serviceLine}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-3">
                        <md-input-container>
                            <label>Account Name</label>
                            <md-select ng-model="ddlaccountname2">
                                <md-option ng-repeat="aname in accountname" ng-click="accountnam2(aname.accountName)">{{aname.accountName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2">
                        <md-input-container>
                            <label>Incident Category</label>
                            <md-select ng-model="ddlincidcategory2">
                                <md-option ng-repeat="cat in incidentcategory" ng-click="category2(cat.name)">{{cat.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    <!--<div class="col-sm-2">
                        <button class="btn btn-primary" ng-click="startlaod()">
                            <span class="glyphicon glyphicon-send"></span> SHOW-GRAPH
                        </button>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <c3chart bindto-id="admbeyondSLA"
                                 chart-data="admChart2.chartdata"
                                 chart-columns="admChart2.chartdatacols"
                                 chart-x="admChart2.chartdatax">
                            <chart-axis>
                                <chart-axis-x axis-id="monthYear"
                                              axis-type="category">
                                    <chart-axis-x-tick tick-rotate="50" />
                                    <chart-axis-x show="true"></chart-axis-x>
                                    <chart-axis-y show="true"></chart-axis-y>
                                </chart-axis-x>
                            </chart-axis>
                        </c3chart>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default std-panel">
                            <div class="panel-heading">
                                <h4>Ticket Open Beyond SLA</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table rprt-table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6">Row Label</th>
                                            <th class="col-xs-6">Tickets Open Beyond SLA</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="chartdat2 in griddata2">
                                            <td class="col-xs-6">
                                                <span>{{ chartdat2.monthYear }}</span>
                                            </td>
                                            <td class="col-xs-6">
                                                <span>{{ chartdat2.ticketbeyondsla }}</span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="col-xs-6"><span><b>Total</b></span></td>
                                            <td class="col-xs-6"><span><b>{{ totalbeyondSLA }}</b></span></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div id="chart-export-div">
                <div class="row">
                    <div class="col-sm-2">

                        <md-input-container>
                            <label>Service Line</label>
                            <md-select ng-model="ddlserviceline3">
                                <md-option ng-repeat="line in serviceline" ng-click="servicelin3(line.serviceLine)">{{line.serviceLine}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-3">
                        <md-input-container>
                            <label>Account Name</label>
                            <md-select ng-model="ddlaccountname3">
                                <md-option ng-repeat="aname in accountname" ng-click="accountnam3(aname.accountName)">{{aname.accountName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2">
                        <md-input-container>
                            <label>Incident Category</label>
                            <md-select ng-model="ddlincidcategory3">
                                <md-option ng-repeat="cat in incidentcategory" ng-click="category3(cat.name)">{{cat.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2" ng-show="false">
                        <md-input-container>
                            <label>Chart-Type</label>
                            <md-select ng-model="ddltype1">
                                <md-option ng-repeat="typ in typeOptions" ng-click="charttyp1(typ.name)">{{typ.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <!--<div class="col-sm-2">
                        <button class="btn btn-primary" ng-click="startlaod()">
                            <span class="glyphicon glyphicon-send"></span> SHOW-GRAPH
                        </button>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <c3chart bindto-id="admbacklogpriority"
                                 chart-data="admChart3.chartdata"
                                 chart-columns="admChart3.chartdatacols"
                                 chart-x="admChart3.chartdatax">
                            <chart-axis>
                                <chart-axis-x axis-id="monthYear"
                                              axis-type="category">
                                    <chart-axis-x-tick tick-rotate="50" />
                                    <chart-axis-x show="true"></chart-axis-x>
                                    <chart-axis-y show="true"></chart-axis-y>
                                </chart-axis-x>
                            </chart-axis>
                        </c3chart>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default std-panel">
                            <div class="panel-heading">
                                <h4>BackLogs By Priority</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table rprt-table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2">Row Label</th>
                                            <th class="col-xs-2">Backlog P1</th>
                                            <th class="col-xs-2">Backlog P2</th>
                                            <th class="col-xs-2">Backlog P3</th>
                                            <th class="col-xs-2">Backlog P4</th>
                                            <th class="col-xs-2">Backlog P5</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="chartdat3 in griddata3">
                                            <td class="col-xs-2">
                                                <span>{{ chartdat3.monthYear }}</span>
                                            </td>
                                            <td class="col-xs-2">
                                                <span>{{ chartdat3.backlog1 }}</span>
                                            </td>
                                            <td class="col-xs-2">
                                                <span>{{ chartdat3.backlog2 }}</span>
                                            </td>
                                            <td class="col-xs-2">
                                                <span>{{ chartdat3.backlog3 }}</span>
                                            </td>
                                            <td class="col-xs-2">
                                                <span>{{ chartdat3.backlog4 }}</span>
                                            </td>
                                            <td class="col-xs-2">
                                                <span>{{ chartdat3.backlog5 }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-2"><span><b>Total</b></span></td>
                                            <td class="col-xs-2"><span><b>{{ totalbacklog1 }}</b></span></td>
                                            <td class="col-xs-2"><span><b>{{ totalbacklog2 }}</b></span></td>
                                            <td class="col-xs-2"><span><b>{{ totalbacklog3 }}</b></span></td>
                                            <td class="col-xs-2"><span><b>{{ totalbacklog4 }}</b></span></td>
                                            <td class="col-xs-2"><span><b>{{ totalbacklog5 }}</b></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div id="chart-export-div">
                <div class="row">
                    <div class="col-sm-2">

                        <md-input-container>
                            <label>Service Line</label>
                            <md-select ng-model="ddlserviceline4">
                                <md-option ng-repeat="line in serviceline" ng-click="servicelin4(line.serviceLine)">{{line.serviceLine}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-3">
                        <md-input-container>
                            <label>Account Name</label>
                            <md-select ng-model="ddlaccountname4">
                                <md-option ng-repeat="aname in accountname" ng-click="accountnam4(aname.accountName)">{{aname.accountName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2">
                        <md-input-container>
                            <label>Incident Category</label>
                            <md-select ng-model="ddlincidcategory4">
                                <md-option ng-repeat="cat in incidentcategory" ng-click="category4(cat.name)">{{cat.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <c3chart bindto-id="admeffortperticket"
                                 chart-data="admChart4.chartdata"
                                 chart-columns="admChart4.chartdatacols"
                                 chart-x="admChart4.chartdatax">
                            <chart-axis>
                                <chart-axis-x axis-id="monthYear"
                                              axis-type="category">
                                    <chart-axis-x-tick tick-rotate="50" />
                                    <chart-axis-x show="true"></chart-axis-x>
                                    <chart-axis-y show="true"></chart-axis-y>
                                </chart-axis-x>
                            </chart-axis>
                        </c3chart>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default std-panel">
                            <div class="panel-heading">
                                <h4>Effort Per Ticket</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table rprt-table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6">Row Label</th>
                                            <th class="col-xs-6">Effort Per Ticket</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="chartdat4 in griddata4">
                                            <td class="col-xs-6">
                                                <span>{{ chartdat4.monthYear }}</span>
                                            </td>
                                            <td class="col-xs-6">
                                                <span>{{ chartdat4.effortperticket }}</span>
                                            </td>
                                          
                                        </tr>
                                        <!--<tr>
                                            <td class="col-xs-2"><span><b>Total</b></span></td>
                                            <td class="col-xs-2"><span><b>{{ totaleffortperticket }}</b></span></td>
                                            
                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div id="chart-export-div">
                <div class="row">
                    <div class="col-sm-2">

                        <md-input-container>
                            <label>Service Line</label>
                            <md-select ng-model="ddlserviceline5">
                                <md-option ng-repeat="line in serviceline" ng-click="servicelin5(line.serviceLine)">{{line.serviceLine}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-3">
                        <md-input-container>
                            <label>Account Name</label>
                            <md-select ng-model="ddlaccountname5">
                                <md-option ng-repeat="aname in accountname" ng-click="accountnam5(aname.accountName)">{{aname.accountName}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div class="col-sm-2">
                        <md-input-container>
                            <label>Incident Category</label>
                            <md-select ng-model="ddlincidcategory5">
                                <md-option ng-repeat="cat in incidentcategory" ng-click="category5(cat.name)">{{cat.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                  
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <c3chart bindto-id="admcostpertickety"
                                 chart-data="admChart5.chartdata"
                                 chart-columns="admChart5.chartdatacols"
                                 chart-x="admChart5.chartdatax">
                            <chart-axis>
                                <chart-axis-x axis-id="monthYear"
                                              axis-type="category">
                                    <chart-axis-x-tick tick-rotate="50" />
                                    <chart-axis-x show="true"></chart-axis-x>
                                    <chart-axis-y show="true"></chart-axis-y>
                                </chart-axis-x>
                            </chart-axis>
                        </c3chart>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default std-panel">
                            <div class="panel-heading">
                                <h4>Cost Per Ticket</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table rprt-table">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6">Row Label</th>
                                            <th class="col-xs-6">Cost Per Ticket</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="chartdat5 in griddata5">
                                            <td class="col-xs-6">
                                                <span>{{ chartdat5.monthYear }}</span>
                                            </td>
                                            <td class="col-xs-6">
                                                <span>{{ chartdat5.costperticketusd }}</span>
                                            </td>
                                           
                                        </tr>
                                        <!--<tr>
                                            <td class="col-xs-6"><span><b>Total</b></span></td>
                                            <td class="col-xs-6"><span><b>{{ totalcostperticket }}</b></span></td>
                                           
                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
