﻿<div class="container" ng-show="ContainerOverall2">
    <div class="stats">
        <div class="header">
            <div class="row">
                <div class="col-sm-12">
                    <a class="back fa fa-chevron-circle-left" ui-sref="dashboard"></a>
                    <h3>AMS Metrics</h3>
                </div>
            </div>
        </div>
        <div class="operations">
            <div class="row">
                <div class="col-sm-2">

                    <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                        <label style="color:white;">Service Line</label>
                        <md-select ng-model="ddlserviceline">
                            <md-option ng-repeat="line in serviceline" ng-click="servicelin(line.serviceLine)">{{line.serviceLine}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="col-sm-3">
                    <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                        <label style="color:white;">Account Name</label>
                        <md-select ng-model="ddlaccountname">
                            <md-option ng-repeat="aname in accountname" ng-click="accountnam(aname.accountName)">{{aname.accountName}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="col-sm-2">
                    <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                        <label style="color:white;">Incident Category</label>
                        <md-select ng-model="ddlincidcategory">
                            <md-option ng-repeat="cat in incidentcategory" ng-click="category(cat.name)">{{cat.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="desc"><h3>Tickets Status</h3></div>
                            <div class="status">
                                <ul class="list-unstyled list-inline">
                                    <li><i>Total-Received : </i> <span>{{totalreceived}}</span></li>
                                    <br />
                                    <li><i>Total-Resolved : </i> <span>{{totalresolved}}</span></li>
                                    <br />
                                    <li><i>Total-Backlog : </i> <span>{{totalbacklog}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a class="dashboard-stat red">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="desc"><h3>Tickets Status By Priority</h3></div>
                            <div class="status">
                                <ul class="list-unstyled list-inline">
                                    <li><i>Priority1 : </i> <span>{{totalpriority1}}</span></li>

                                    <li><i>Priority2 : </i> <span>{{totalpriority2}}</span></li>
                                    <br />
                                    <li><i>Priority3 : </i> <span>{{totalpriority3}}</span></li>

                                    <li><i>Priority4 : </i> <span>{{totalpriority4}}</span></li>
                                    <br />
                                    <li><i>Priority5 : </i> <span>{{totalpriority5}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <a class="dashboard-stat green">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="desc"><h3>Tickets Open Beyond SLA</h3></div>
                            <div class="number">
                                <ul class="list-unstyled list-inline">
                                    <li><span>{{totalbeyondSLA}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="dashboard-stat dark">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="desc"><h3>Tickets Status By Baclog</h3></div>
                            <div class="status">
                                <ul class="list-unstyled list-inline">
                                    <li><i>Backlog1 : </i> <span>{{totalbacklog1}}</span></li>

                                    <li><i>Backlog2 : </i> <span>{{totalbacklog2}}</span></li>
                                    <br />
                                    <li><i>Backlog3 : </i> <span>{{totalbacklog3}}</span></li>

                                    <li><i>Backlog4 : </i> <span>{{totalbacklog4}}</span></li>
                                    <br />
                                    <li><i>Backlog5 : </i> <span>{{totalbacklog5}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
           
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a class="dashboard-stat purple" ng-click="showgraph()">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">

                        <div class="desc"><h3>OVER ALL</h3></div>
                    </div>
                </a>
            </div>
           
        </div>
    </div>
</div>
</div>