﻿
<div class="container">
    <div class="container">
        <div class="stats">
            <div class="header">
                <div class="row">
                    <div class="col-sm-8" style="font:bold;color:white">
                        <h3>Operations</h3>
                    </div>
                    <div class="col-sm-4">
                        <div class="row" >
                            <div class="col-sm-4">
                                <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                                    <label style="color:white;">Service Line</label>
                                    <md-select ng-model="selectedAccount" ng-change="OperationlistChanged(selectedAccount)">
                                        <md-option ng-repeat="ServiceLine in ServiceLines">{{ServiceLine}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-sm-4">
                                <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                                    <label style="color:white;">Year</label>
                                    <md-select ng-model="selectedYear" ng-change="OperationlistChanged(selectedYear)">
                                        <md-option ng-repeat="year in years" ng-value="year">{{year}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-sm-4">
                                <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                                    <label style="color:white;">Month</label>
                                    <md-select ng-model="selectedMonth" ng-change="OperationlistChanged(selectedMonth)">
                                        <md-option ng-repeat="Month in Months" ng-value="Month">{{Month}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operations">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat blue" data-transition="pop">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span class="counter" ng-bind="HeadCountNumber"></span>
                                        </div>
                                        <div class="desc">Head Count</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat red">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span class="counter" ng-bind="AttritionNumber"></span>
                                        </div>
                                        <div class="desc">Attrition</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat green">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span><span class="counter" ng-bind="BenchPercent"></span>%</span>
                                        </div>
                                        <div class="desc">Bench</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat carrot">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span><span class="counter" ng-bind="UtilizationPercent"></span>%</span>
                                        </div>
                                        <div class="desc">Utilization</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dark">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span class="counter" ng-bind="FullyallocatedNumber"></span>
                                        </div>
                                        <div class="desc">Fully Allocated</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat purple">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span class="counter" ng-bind="BenchNumber"></span>
                                        </div>
                                        <div class="desc">Bench</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a ui-sref="operational.dashboard"><img src="Client/Components/img/OverAllView.jpg" class="img-responsive"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat blue">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span class="counter" ng-bind="ThirtyOneToSixtyNumber"></span>
                                        </div>
                                        <div class="desc">31-60</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat red">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span class="counter" ng-bind="SixtyToNinetyNumber"></span>
                                        </div>
                                        <div class="desc">61-90</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <a class="dashboard-stat green">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span class="counter" ng-bind="NinetyPlusNumber"></span>
                                        </div>
                                        <div class="desc">90+</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a class="dashboard-stat purple">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span>    <span class="counter" ng-bind="LPIPercent"></span>%</span>
                                </div>
                                <div class="desc">LPI</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

