@charset "UTF-8";

@font-face {
  font-family: "ital";
  src:url("ital.eot");
  src:url("ital.eot?#iefix") format("embedded-opentype"),
    url("ital.woff") format("woff"),
    url("ital.ttf") format("truetype"),
    url("ital.svg#ital") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ital" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ital" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\61";
}
.icon-calendar:before {
  content: "\62";
}
.icon-chat:before {
  content: "\63";
}
.icon-ok:before {
  content: "\64";
}
.icon-clock:before {
  content: "\65";
}
.icon-add:before {
  content: "\66";
}
.icon-delete:before {
  content: "\67";
}
.icon-edit:before {
  content: "\68";
}
.icon-gear:before {
  content: "\69";
}
.icon-world:before {
  content: "\6a";
}
.icon-key:before {
  content: "\6b";
}
.icon-back:before {
  content: "\6c";
}
.icon-phone:before {
  content: "\6d";
}
.icon-cancel:before {
  content: "\6f";
}
.icon-help:before {
  content: "\70";
}
.icon-user:before {
  content: "\71";
}
.icon-notification:before {
  content: "\72";
}
.icon-web:before {
  content: "\73";
}
.icon-revenue:before {
  content: "\6e";
}
.icon-cost:before {
  content: "\74";
}
.icon-down:before {
  content: "\75";
}
.icon-up:before {
  content: "\76";
}
