@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

.nomargin									{margin:0 !important}

body 										{background:url(../img/banner.jpg);background-size:cover;font-family: 'Open Sans', sans-serif;}

.icon-up									{color:green !important}
.icon-down									{color:red !important}

.navbar-default								{background:#fff;box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);border:none;margin:0}
.navbar-default .navbar-brand				{height:auto;padding:10px 15px}
.navbar-default .navbar-nav>li>a			{padding:23px 15px;color:#231f20} 
.navbar-default .navbar-nav>li>a i			{color:#00b188;font-size:16px}
.page-wraper								{background:#fff;margin-top:-65px;padding:15px;border:1px solid #e8e8e8;position:relative;border-top:0;padding-bottom:0}

.page-header								{min-height:160px;margin:0}
.page-header .page-title					{background:#00b188;color:#fff;padding:10px 15px;display:inline-block;font-size:18px;margin-top:30px}


.table										{margin:0}
.table>thead>tr>th							{border-width:1px;text-align:center;font-weight:600;color:#231f20}
.std-table.fte>tbody>tr>td					{padding:0 }
.std-table>thead>tr>th						{background:#F6F8F8;font-weight:bold}

.table .form-control						{box-shadow:none;border-color:#ddd}
.table .form-control:focus					{box-shadow:none;border-color:#231f20}

.page-wraper .header						{padding:15px;margin:-15px;margin-bottom:15px;background:#F6F8F8;border-bottom:1px solid #eee}
.page-wraper .footer						{border-top:1px solid #eee;padding:15px;margin:-15px;margin-bottom:0;margin-top:15px}

.std-panel										{border-color:#dee5e7;margin-top:15px;box-shadow:none;border-radius:0;margin-bottom:inherit}
.std-panel .navbar-form							{margin:0;padding:0}
.std-panel .navbar-form .form-control			{border-color:#ddd;box-shadow:none}
.std-panel .navbar-form .form-control:focus		{border-color:#ddd} 

.std-panel .panel-heading						{background:#F6F8F8;border-color:#dee5e7}
.std-panel .panel-heading a						{text-decoration:none}
.std-panel .panel-heading a i					{font-size:10px;margin-right:5px;vertical-align:middle}
.std-panel .panel-heading h4					{font-size:14px;margin:0;font-weight:bold;color:#231f20;margin-top:2px}


.std-panel table								{border-color:#dee5e7}
.std-panel .table-fixed tbody {
  /*height:144px;*/
  overflow-y: auto;
  width: 100%;
}
.std-panel .table-fixed thead, 
.std-panel .table-fixed tbody, 
.std-panel .table-fixed tr, 
.std-panel .table-fixed td, 
.std-panel .table-fixed th {
  display: block;
  border-color:#eee;
}

 
.std-panel .table-fixed td:last-child, 
.std-panel .table-fixed th:last-child			{text-align:right}

.std-panel .table-fixed tbody td, 
.std-panel .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
  padding:7px 15px; 
  text-align:left
}
.std-panel .table-fixed td [class^='icon-']		{margin:0 5px;vertical-align:middle;text-decoration:none;color:#888}
.modified										{color:#f05050}
 
 
/* CSS used here will be applied after bootstrap.css */
.dynamicTile	{margin:15px -5px}

.dynamicTile .caption	{position:absolute;width:100%;background:rgba(0,0,0,0.4);color:#fff;bottom:0;padding:6px 10px;margin:0}

.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}
.dynamicTile .item p		{padding:15px}


#tile1{
    background: rgb(0,172,238);
}

#tile2{
    background: rgb(243,243,243);
}

#tile3{
    background: rgb(71,193,228);
}

#tile4{
    background-image: url('http://handsontek.net/demoimages/tiles/facebook.png');
    background-size: cover;
}

#tile5{
    background: rgb(175,26,63);
}

#tile6{
    background: rgb(62,157,215);
}

#tile7{
    background: white;
}

#tile8{
    background: rgb(209,70,37);
}

#tile9{
    background: rgb(0,142,0);
}

#tile10{
    background: rgb(0,93,233);
}

.tilecaption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Segoe UI;
    font-weight: lighter;
}