﻿<section class="-c-report">
    <div class="container">
        <div class="page-wraper">
            <md-tabs md-dynamic-height md-border-bottom>                
                <md-tab label="Overall">
                    <md-content>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="reports-overall">
                                <div class="row">
                                    <div class="col-sm-12 float-right">
                                        <p class="red-text small-font">* All figures are in USD</p>
                                        <md-button class="md-fab md-mini"
                                                   aria-label="Export to PDF"
                                                   ng-click="generateOverallReport()">
                                            <md-icon md-svg-icon="client/components/img/ic_insert_drive_file_white_24px.svg"></md-icon>
                                            <md-tooltip>Export to PDF</md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                                <div id="chart-export-div">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel-heading">
                                                <h4>
                                                    Financial Year -
                                                    <md-input-container>
                                                        <md-select ng-model="overall.dropdown.serviceLineFinancialYear" ng-change="finYearChanged(overall.dropdown.serviceLineFinancialYear)">
                                                            <md-option ng-repeat="yearitem in calendarYears">{{yearitem}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </h4>
                                            </div>
                                            <c3chart bindto-id="serviceLineFinYear"
                                                     chart-data="overall.chartdata.serviceLineFinYear"
                                                     chart-columns="overall.chartOptions.serviceLineFinYearCols"
                                                     chart-x="overall.chartOptions.serviceLineFinYearDataX">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="monthyear"
                                                                  axis-type="category">
                                                        <chart-axis-x show="true"></chart-axis-x>
                                                        <chart-axis-y show="true"></chart-axis-y>
                                                    </chart-axis-x>
                                                </chart-axis>
                                                <chart-tooltip value-format-function="hcTooltipFormat"></chart-tooltip>
                                            </c3chart>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Year to date</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-4">Service Line</th>
                                                                <th class="col-xs-3">Actual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rec in overall.gridData.serviceLineOverallGrid">
                                                                <td class="col-xs-4">
                                                                    <span ng-bind="rec.serviceline"></span>
                                                                </td>
                                                                <td class="col-xs-3">
                                                                    <span>{{rec.sum | currency}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-4"><span><b>Total</b></span></td>
                                                                <td class="col-xs-3"><span><b>{{overall.totalFooter.serviceLineOverallTotal | currency}}</b></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel-heading">
                                                <h4>
                                                    Pyramid by ServiceLine for Financial Year -
                                                    <md-input-container>
                                                        <md-select ng-model="overall.dropdown.pyramidServiceLineFinancialYear" ng-change="pyramidservicelinefinYearChanged(overall.dropdown.pyramidServiceLineFinancialYear)">
                                                            <md-option ng-repeat="yearitem in calendarYears">{{yearitem}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </h4>
                                            </div>
                                            <c3chart bindto-id="pyramidServiceLineFinancial"
                                                     chart-data="overall.chartdata.pyramidServiceLineFinancial"
                                                     chart-columns="overall.chartOptions.pyramidServiceLineFinancialCols"
                                                     chart-x="overall.chartOptions.pyramidServiceLineFinancialDataX">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="monthyear"
                                                                  axis-type="category">
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Pyramid by ServiceLine Year to date</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-4">Service Line</th>
                                                                <th class="col-xs-3">Actual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rec in overall.gridData.pyramidServiceLineOverallGrid">
                                                                <td class="col-xs-4">
                                                                    <span ng-bind="rec.serviceline"></span>
                                                                </td>
                                                                <td class="col-xs-3">
                                                                    <span ng-bind="rec.sum + '%'"></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel-heading">
                                                <h4>
                                                    Pyramid for Financial Year -
                                                    <md-input-container>
                                                        <md-select ng-model="overall.dropdown.pyramidFinancialOverallYear" ng-change="pyramidfinoverallYearChanged(overall.dropdown.pyramidFinancialOverallYear)">
                                                            <md-option ng-repeat="yearitem in calendarYears">{{yearitem}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </h4>
                                            </div>
                                            <c3chart bindto-id="pyramidFinancial"
                                                     chart-data="overall.chartdata.pyramidFinancial"
                                                     chart-columns="overall.chartOptions.pyramidFinancialCols"
                                                     chart-x="overall.chartOptions.pyramidFinancialDataX">
                                                <chart-axis>
                                                    <chart-axis-x axis-id="monthyear"
                                                                  axis-type="category">
                                                    </chart-axis-x>
                                                </chart-axis>
                                            </c3chart>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Pyramid Year to date</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-4">Pyramid</th>
                                                                <th class="col-xs-3">Actual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rec in overall.gridData.pyramidOverallGrid">
                                                                <td class="col-xs-4">
                                                                    <span ng-bind="rec.serviceline"></span>
                                                                </td>
                                                                <td class="col-xs-3">
                                                                    <span ng-bind="rec.sum"></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Accounts">
                    <md-content>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="reports-accounts">
                                <br />
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="col-xs-2">
                                            <md-input-container>
                                                <label>Month</label>
                                                <md-select ng-model="currMon" ng-change="monthChanged(currMon)">
                                                    <md-option ng-repeat="monthitem in CalendarMonths">{{monthitem}}</md-option>
                                                </md-select>
                                            </md-input-container>

                                        </div>
                                        <div class="col-xs-2">
                                            <md-input-container>
                                                <label>Year</label>
                                                <md-select ng-model="currYear" ng-change="yearChanged(currYear)">
                                                    <md-option ng-repeat="yearitem in calendarYears">{{yearitem}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 float-right">
                                        <p class="red-text small-font">* All figures are in USD</p>
                                        <md-button class="md-fab md-mini"
                                                   aria-label="Export to PDF"
                                                   ng-click="generateAccountReport()">
                                            <md-icon md-svg-icon="client/components/img/ic_insert_drive_file_white_24px.svg"></md-icon>
                                            <md-tooltip>Export to PDF</md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                                <div id="export-div">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4> Revenue {{currMon}} - {{currYear}}</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-1">Account</th>
                                                                <th class="col-xs-2">D Revenue</th>
                                                                <th class="col-xs-2">D Overall Actual</th>
                                                                <th class="col-xs-1">D Margin</th>
                                                                <th class="col-xs-2">ND Baseline</th>
                                                                <th class="col-xs-2">ND Actual</th>
                                                                <th class="col-xs-2">ND Margin</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rec in revenueReport">
                                                                <td class="col-xs-1">
                                                                    <span ng-bind="rec.customer.accountName"></span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span>{{rec.revenue | currency}}</span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span>{{rec.overallactual | currency}}</span>
                                                                </td>
                                                                <td class="col-xs-1">
                                                                    <span ng-bind="rec.margin + '%'"
                                                                          ng-class="{'red': rec.margin<0}"></span>
                                                                    <i ng-class="{
                                                                        'icon-up':rec.forecast==='high',
                                                                       'icon-down':rec.forecast==='low'
                                                                       }"></i>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span>{{rec.ndbaseline | currency}}</span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span>{{rec.ndactual | currency}}</span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span ng-bind="rec.ndvariance + '%'"
                                                                          ng-class="{'red': rec.ndvariance<0}"></span>
                                                                    <i ng-class="{
                                                                        'icon-up':rec.ndforecast==='high',
                                                                       'icon-down':rec.ndforecast==='low'
                                                                       }"></i>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-1"><span><b>Total</b></span></td>
                                                                <td class="col-xs-2"><span><b>{{totals.revRevenue | currency}}</b></span></td>
                                                                <td class="col-xs-2"><span><b>{{totals.revActual  | currency}}</b></span></td>
                                                                <td class="col-xs-1">
                                                                    <b>
                                                                        <span ng-bind="totals.revMargin + '%'"
                                                                              ng-class="{'red': totals.revMargin<0}"></span>
                                                                    </b>
                                                                </td>
                                                                <td class="col-xs-2"><span><b>{{totals.revNDBaseline | currency}}</b></span></td>
                                                                <td class="col-xs-2"><span><b>{{totals.revNDActual  | currency}}</b></span></td>
                                                                <td class="col-xs-2">
                                                                    <b>
                                                                        <span ng-bind="totals.revNDVariance + '%'"
                                                                              ng-class="{'red': totals.revNDVariance<0}"></span>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4> Cost  {{currMon}} - {{currYear}}</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-1">Account</th>
                                                                <th class="col-xs-2">D-Total</th>
                                                                <th class="col-xs-2">D-Actual</th>
                                                                <th class="col-xs-1">D-Varience</th>
                                                                <th class="col-xs-2">ND-Total</th>
                                                                <th class="col-xs-2">ND-Actual</th>
                                                                <th class="col-xs-2">ND-Varience</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rec in costReport">
                                                                <td class="col-xs-1">
                                                                    <a ng-click="costAccountSelected(rec.customer)">
                                                                        {{rec.customer.accountName}}
                                                                    </a>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span>{{rec.targetCost | currency }}</span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span>{{rec.actualCost| currency}}</span>
                                                                </td>
                                                                <td class="col-xs-1">
                                                                    <span ng-bind="rec.variance + '%'"
                                                                          ng-class="{'red': rec.variance<0}"></span>
                                                                    <i ng-class="{
                                                                        'icon-up':rec.forecast==='high',
                                                                       'icon-down':rec.forecast==='low'
                                                                       }"></i>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span>{{rec.ndtargetCost | currency }}</span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span>{{rec.ndactualCost| currency}}</span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span ng-bind="rec.ndvariance + '%'"
                                                                          ng-class="{'red': rec.ndvariance<0}"></span>
                                                                    <i ng-class="{
                                                                        'icon-up':rec.ndforecast==='high',
                                                                       'icon-down':rec.ndforecast==='low'
                                                                       }"></i>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-1"><span><b>Total</b></span></td>
                                                                <td class="col-xs-2"><span><b>{{totals.costTarget | currency}}</b></span></td>
                                                                <td class="col-xs-2"><span><b>{{totals.costActual  | currency}}</b></span></td>
                                                                <td class="col-xs-1">
                                                                    <b>
                                                                        <span ng-bind="totals.costVariance + '%'"
                                                                              ng-class="{'red': totals.costVariance<0}"></span>
                                                                    </b>
                                                                </td>
                                                                <td class="col-xs-2"><span><b>{{totals.ndcostTarget | currency}}</b></span></td>
                                                                <td class="col-xs-2"><span><b>{{totals.ndcostActual  | currency}}</b></span></td>
                                                                <td class="col-xs-2">
                                                                    <b>
                                                                        <span ng-bind="totals.ndcostVariance + '%'"
                                                                              ng-class="{'red': totals.ndcostVariance<0}"></span>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Cummulative Revenue - {{currYear}}</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-4">Account</th>
                                                                <th class="col-xs-3">Revenue</th>
                                                                <th class="col-xs-3">Overall Actual</th>
                                                                <th class="col-xs-2">Margin</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rec in cumRevenueReport">
                                                                <td class="col-xs-4">
                                                                    <span ng-bind="rec.account.accountName"></span>
                                                                </td>
                                                                <td class="col-xs-3">
                                                                    <span>{{rec.revenue | currency}}</span>
                                                                </td>
                                                                <td class="col-xs-3">
                                                                    <span>{{rec.overallactual | currency}}</span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span ng-bind="rec.margin + '%'"
                                                                          ng-class="{'red': rec.margin<0}"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-4"><span><b>Total</b></span></td>
                                                                <td class="col-xs-3"><span><b>{{totals.cummRevenueRev | currency}}</b></span></td>
                                                                <td class="col-xs-3"><span><b>{{totals.cummRevActual  | currency}}</b></span></td>
                                                                <td class="col-xs-2">
                                                                    <b>
                                                                        <span ng-bind="totals.cummRevMargin + '%'"
                                                                              ng-class="{'red': totals.cummRevMargin<0}"></span>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="panel panel-default std-panel">
                                                <div class="panel-heading">
                                                    <h4>Cummulative Cost - {{currYear}}</h4>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table rprt-table">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-xs-4">Account</th>
                                                                <th class="col-xs-3">Total</th>
                                                                <th class="col-xs-3">Actual</th>
                                                                <th class="col-xs-2">Varience</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rec in cumCostReport">
                                                                <td class="col-xs-4">
                                                                    <span ng-bind="rec.account.accountName"></span>
                                                                </td>
                                                                <td class="col-xs-3">
                                                                    <span>{{rec.total | currency }}</span>
                                                                </td>
                                                                <td class="col-xs-3">
                                                                    <span>{{rec.actual| currency}}</span>
                                                                </td>
                                                                <td class="col-xs-2">
                                                                    <span ng-bind="rec.variance + '%'"
                                                                          ng-class="{'red': rec.variance<0}"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-xs-4"><span><b>Total</b></span></td>
                                                                <td class="col-xs-3"><span><b>{{totals.cummCostTarget | currency}}</b></span></td>
                                                                <td class="col-xs-3"><span><b>{{totals.cummCostActual  | currency}}</b></span></td>
                                                                <td class="col-xs-2">
                                                                    <b>
                                                                        <span ng-bind="totals.cummCostVariance + '%'"
                                                                              ng-class="{'red': totals.cummCostVariance<0}"></span>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</section>
