﻿<section class="-c-report-detail">
    <div class="container">
        <div class="page-wraper">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="reports-detail-d">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="col-xs-2">
                                <md-input-container>
                                    <label>Account</label>
                                    <md-select ng-model="detail.dropdown.selectedAccount" ng-change="listChanged(detail.dropdown.selectedAccount)">
                                        <md-option ng-repeat="accountitem in detail.dropdown.accountsdropdown">{{accountitem.accountName}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-2">
                                <md-input-container>
                                    <label>Month</label>
                                    <md-select ng-model="detail.dropdown.selectedMonth" ng-change="listChanged(detail.dropdown.selectedMonth)">
                                        <md-option ng-repeat="monthitem in detail.dropdown.monthdropdown">{{monthitem}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-xs-2">
                                <md-input-container>
                                    <label>Year</label>
                                    <md-select ng-model="detail.dropdown.selectedYear" ng-change="listChanged(detail.dropdown.selectedYear)">
                                        <md-option ng-repeat="yearitem in detail.dropdown.yeardropdown">{{yearitem}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-4 float-right">
                            <p class="red-text small-font">* All figures are in USD</p>
                            <md-button class="md-fab md-mini"
                                       aria-label="Go Back"
                                       ng-click="back()">
                                <md-icon md-svg-icon="client/assets/images/ic_keyboard_arrow_left_white_24px.svg"></md-icon>
                                <md-tooltip>Go Back</md-tooltip>
                            </md-button>
                            <md-button class="md-fab md-mini"
                                       aria-label="Export to PDF"
                                       ng-click="generateDetailReport()">
                                <md-icon md-svg-icon="client/components/img/ic_insert_drive_file_white_24px.svg"></md-icon>
                                <md-tooltip>Export to PDF</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="{{detail.dropdown.selectedAccount}} D Work">
                                    <md-content>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="panel-heading">
                                                    <h4 ng-bind="detail.dropdown.selectedAccount + ' Monthly Service Line ' + detail.dropdown.selectedMonth + ' - ' + detail.dropdown.selectedYear"></h4>
                                                </div>
                                                <nvd3 options="detail.chartOptions.dServicelineOption"
                                                      data="detail.charts.dServiceline"
                                                      id="dServiceline"></nvd3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="panel-heading">
                                                    <h4 ng-bind="detail.dropdown.selectedAccount + ' Pyramid Service Line ' + detail.dropdown.selectedMonth + ' - ' + detail.dropdown.selectedYear"></h4>
                                                </div>
                                                <nvd3 options="detail.chartOptions.dPyramidServicelineOption"
                                                      data="detail.charts.dPyramidServiceline"
                                                      id="dPyramidServiceline"></nvd3>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="{{detail.dropdown.selectedAccount}} ND Work">
                                    <md-content>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="panel-heading">
                                                    <h4 ng-bind="detail.dropdown.selectedAccount + ' Monthly Service Line ' + detail.dropdown.selectedMonth + ' - ' + detail.dropdown.selectedYear"></h4>
                                                </div>
                                                <nvd3 options="detail.chartOptions.ndServicelineOption"
                                                      data="detail.charts.ndServiceline"
                                                      id="ndServiceline"></nvd3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="panel-heading">
                                                    <h4 ng-bind="detail.dropdown.selectedAccount + ' Pyramid Service Line ' + detail.dropdown.selectedMonth + ' - ' + detail.dropdown.selectedYear"></h4>
                                                </div>
                                                <nvd3 options="detail.chartOptions.ndPyramidServicelineOption"
                                                      data="detail.charts.ndPyramidServiceline"></nvd3>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </div>
                    </div>                    
                </div>
            </div>                                    
        </div>
    </div>
</section>
