﻿<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-4">
                <div class="dynamicTile">
                    <div class="row">
                        <div ng-repeat="subtile in subtiledetails" class="col-sm-6 col-xs-4">
                            <a class="tile" ng-click="getTileInformation(subtile.tileName)">
                                <div class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="{{subtile.tileImageuri}}" class="img-responsive">
                                            <h4 class="caption"><span ng-bind="subtile.tileName"></span></h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="content-section">
                    <div class="panel panel-default std-panel nomargin">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4> {{contentHeading}} </h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget erat in dolor vestibulum mattis. Nulla semper dapibus aliquet. Proin ut elementum neque. Aliquam at orci felis. Integer eget mollis massa, sit amet vehicula risus. Mauris nisi mi, semper vitae arcu quis, ullamcorper scelerisque eros. Ut sollicitudin tellus vitae cursus efficitur. Sed sapien diam, tempor placerat ante in, malesuada rutrum arcu. Integer auctor erat vitae velit iaculis volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc eget rhoncus mi. Quisque id tellus fermentum ante vulputate blandit. Nunc tempus diam ac justo tincidunt varius. Nullam dictum sem luctus tortor condimentum, porta tincidunt sapien hendrerit. Pellentesque vulputate sed neque eget malesuada. Nulla placerat bibendum sapien.</p>
                            <p>Proin tempor velit iaculis, porta augue sit amet, blandit urna. Nulla vehicula fermentum hendrerit. Aliquam varius volutpat est quis pharetra. Praesent in justo vel purus dapibus aliquam et ut enim. Pellentesque placerat velit a orci tincidunt, et luctus nisi ullamcorper. Quisque ipsum dui, tempus et massa vel, hendrerit cursus tellus. Suspendisse vitae ullamcorper velit. Pellentesque aliquam nec lacus et facilisis. Cras interdum iaculis quam a dapibus. Mauris odio velit, gravida vel ex id, hendrerit viverra neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tellus tortor, porta sed ante id, tincidunt sollicitudin mi. Etiam quis lectus at ipsum aliquet tempor at porttitor velit. Sed feugiat tincidunt porta.</p>
                            <p> Morbi lacus odio, bibendum non lorem id, facilisis elementum justo. Ut tempus augue eget facilisis interdum. Curabitur diam nisi, sollicitudin non tincidunt vitae, faucibus vitae justo. Morbi pellentesque arcu nec scelerisque interdum. Nulla vulputate libero eu turpis tincidunt, a mattis ex tincidunt. Vivamus nibh nibh, consequat vitae maximus a, porta ac dui. Nulla at placerat sapien, non ultricies eros. Mauris rutrum, leo vitae elementum dapibus, orci turpis facilisis mi, vel feugiat purus sapien sit amet nisl. Vivamus facilisis id tortor at fringilla. Vestibulum eget tellus at dui rutrum varius.</p>
                            <p>  Nullam dapibus gravida tincidunt. Vivamus tempor, magna nec pulvinar pellentesque, risus nulla scelerisque eros, id dignissim sapien dolor eu mauris. Aenean dapibus vitae eros placerat egestas. Morbi consectetur dui non mi semper, id ullamcorper ligula placerat. Nullam eu nulla sem. Proin vulputate mi vitae lobortis mattis. Aliquam sit amet efficitur lorem. Duis tortor mauris, varius in odio ac, pretium pellentesque lacus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

