﻿<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-12">
                <div class="dynamicTile">
                    <div class="row">
                        <div ng-repeat="subtile in subtiledetails" class="col-sm-6 col-xs-4">
                            <a target="_blank" class="tile" href="{{subtile.tileRedirectURL}}">
                                <div class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="{{subtile.tileImageuri}}" class="img-responsive">
                                            <h4 class="caption"><span ng-bind="subtile.tileName"></span></h4>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

