﻿

<div class="container">
    <div class="stats">
        <div class="header">
            <div class="row">
                <div class="col-sm-10" style="font:bold;color:white">
                    <a class="back fa fa-chevron-circle-left" style="cursor:pointer;" ng-click="ShowGrid('Back')"></a>
                    <h3>VDF </h3>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                                <label style="color:white;">Account</label>
                                <md-select ng-model="selectedAccount" ng-change="vdflistChanged(selectedAccount)">
                                    <md-option ng-repeat="AccountName in AccountNames">{{AccountName}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="operations" ng-show="VDFTile">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat blue" style="cursor:pointer" ng-click="ShowGrid('FDIProjects')" data-transition="pop">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="counter" ng-bind="VDFTotalProject"></span>
                                    </div>
                                    <div class="desc">Completed VDF</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat red" style="cursor:pointer" ng-click="ShowGrid('EffortSaved')">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span> <span class="counter" ng-bind="TotalProjectEffortsSaved"></span>PH </span>
                                    </div>
                                    <div class="desc">Effort Savings (Monthly FTE Equivalent.. )</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat green" style="cursor:pointer" ng-click="ShowGrid('CostSaved')">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="counter" ng-bind="TotalProjectCostSaved"></span>
                                    </div>
                                    <div class="desc">Total Project Cost Save</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat carrot" style="cursor:pointer" ng-click="ShowGrid('CostSavedForCustomer')">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="counter" ng-bind="TotalProjectCostSavedForCustomer"></span>
                                    </div>
                                    <div class="desc">Cost Saved For Customer</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat dark" style="cursor:pointer" ng-click="ShowGrid('IncidentReductionMonth')">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="counter" ng-bind="TotalProjectIncidentReductionMonth"></span>
                                    </div>
                                    <div class="desc">Incident Reduction Month</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat purple" style="cursor:pointer" ng-click="ShowGrid('MajorIncidentReductionMonth')">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span class="counter" ng-bind="TotalProjectMajorIncidentReductionMonth"></span>
                                    </div>
                                    <div class="desc">MajorIncidentReductionMonth</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat blue" style="cursor:pointer" ng-click="ShowGrid('CSIPDetailsGrid')" data-transition="pop">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">

                                    </div>
                                    <div class="desc">CSIP Details</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat blue" style="cursor:pointer" ng-click="ShowGrid('CurrentStatusGrid')" data-transition="pop">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">

                                    </div>
                                    <div class="desc">Project Status</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat blue" style="cursor:pointer" ng-click="ShowVDFgraph()" data-transition=" pop">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">

                                    </div>
                                    <div class="desc">OVER ALL</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="operations" ng-show="VDFSummary">
            <div class="row">
                <div class="col-md-8">

                    <div id="chart" class="chart-container"></div>

                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered std-table" style="color:white">
                            <thead>

                                <tr>
                                    <td></td>
                                    <td>Completed VDI's</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HP Proposed & Funded</td>
                                    <td><span ng-bind="VDFhpFundedHPProposed"></span></td>
                                </tr>
                                <tr>
                                    <td>HP Proposed, Customer Funded</td>
                                    <td><span ng-bind="VDFcustomerFundedHPProposed"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed, HP Funded</td>
                                    <td><span ng-bind="VDFhpFundedCustomerProposed"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed & Funded</td>
                                    <td><span ng-bind="VDFcustomerFundedCustomerProposed"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="operations" ng-show="EffortSaved">
            <div class="row">
                <div class="col-md-8">

                    <div id="chart1" class="chart-container"></div>

                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered std-table" style="color:white">
                            <thead>

                                <tr>
                                    <td></td>
                                    <td>Completed VDI's</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HP Proposed & Funded</td>
                                    <td><span ng-bind="HPFundedHPProposedEffortsSaved"></span></td>
                                </tr>
                                <tr>
                                    <td>HP Proposed, Customer Funded</td>
                                    <td><span ng-bind="CustomerFundedHPProposedEffortsSaved"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed, HP Funded</td>
                                    <td><span ng-bind="HPFundedCustomerProposedEffortsSaved"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed & Funded</td>
                                    <td><span ng-bind="CustomerFundedCustomerProposedEffortsSaved"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="operations" ng-show="CostSaved">
            <div class="row">
                <div class="col-md-8">

                    <div id="chart2" class="chart-container"></div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered std-table" style="color:white">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Completed VDI's</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HP Proposed & Funded</td>
                                    <td><span ng-bind="HPFundedHPProposedCostSaved"></span></td>
                                </tr>
                                <tr>
                                    <td>HP Proposed, Customer Funded</td>
                                    <td><span ng-bind="CustomerFundedHPProposedCostSaved"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed, HP Funded</td>
                                    <td><span ng-bind="HPFundedCustomerProposedCostSaved"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed & Funded</td>
                                    <td><span ng-bind="CustomerProposedCustomerFundedCostSaved"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="operations" ng-show="CostSavedForCustomer">
            <div class="row">
                <div class="col-md-8">
                    <div id="chart3" class="chart-container"></div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered std-table" style="color:white">
                            <thead>

                                <tr>
                                    <td></td>
                                    <td>Completed VDI's</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HP Proposed & Funded</td>
                                    <td><span ng-bind="HPFundedHPProposedCostSavedForCustomer"></span></td>
                                </tr>
                                <tr>
                                    <td>HP Proposed, Customer Funded</td>
                                    <td><span ng-bind="CustomerFundedHPProposedIncidentReductionMonth"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed, HP Funded</td>
                                    <td><span ng-bind="HPFundedCustomerProposedCostSavedForCustomer"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed & Funded</td>
                                    <td><span ng-bind="CustomerFundedCustomerProposedIncidentReductionMonth"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="operations" ng-show="IncidentReductionMonth">
            <div class="row">
                <div class="col-md-8">
                    <div id="chart4" class="chart-container"></div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered std-table" style="color:white">
                            <thead>

                                <tr>
                                    <td></td>
                                    <td>Completed VDI's</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HP Proposed & Funded</td>
                                    <td><span ng-bind="HPFundedHPProposedIncidentReductionMonth"></span></td>
                                </tr>
                                <tr>
                                    <td>HP Proposed, Customer Funded</td>
                                    <td><span ng-bind="CustomerFundedHPProposedIncidentReductionMonth"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed, HP Funded</td>
                                    <td><span ng-bind="HPFundedCustomerProposedIncidentReductionMonth"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed & Funded</td>
                                    <td><span ng-bind="CustomerFundedCustomerProposedIncidentReductionMonth"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="operations" ng-show="MajorIncidentReductionMonth">
            <div class="row">
                <div class="col-md-8">
                    <div id="chart5" class="chart-container"></div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered std-table" style="color:white">
                            <thead>

                                <tr>
                                    <td></td>
                                    <td>Completed VDI's</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HP Proposed & Funded</td>
                                    <td><span ng-bind="HPFundedHPProposedMajorIncidentReductionMonth"></span></td>
                                </tr>
                                <tr>
                                    <td>HP Proposed, Customer Funded</td>
                                    <td><span ng-bind="CustomerFundedHPProposedMajorIncidentReductionMonth"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed, HP Funded</td>
                                    <td><span ng-bind="HPFundedCustomerProposedMajorIncidentReductionMonth"></span></td>
                                </tr>
                                <tr>
                                    <td>Customer Proposed & Funded</td>
                                    <td><span ng-bind="CustomerFundedCustomerProposedMajorIncidentReductionMonth"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="operations" ng-show="CSIPDetailsGrid">
            <div class="row">
                <div class="col-md-8">
                    <div id="chart6" class="chart-container"></div>

                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered std-table" style="color:white">
                            <thead>

                                <tr>
                                    <td>CSIP Percentage</td>
                                    <td>CSIP Type</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="csip in csipDetails">
                                    <td><span ng-bind="csip.csipPercentage"></span></td>
                                    <td><span ng-bind="csip.csiptype"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="operations" ng-show="CurrentStatusGrid">
            <div class="row">
                <div class="col-md-8">

                    <div id="chart7" class="chart-container"></div>

                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-bordered std-table" style="color:white">
                            <thead>

                                <tr>
                                    <td>Projects</td>
                                    <td>Current Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="status in vdfStatusDetails">
                                    <td><span ng-bind="status.count"></span></td>
                                    <td><span ng-bind="status.currentStatus"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
</div>

