﻿<div class="container">
    <div class="stats">
        <div class="header">
            <div class="row">
                <div class="col-sm-8">
                    <a class="back fa fa-chevron-circle-left" ui-sref="dashboard"></a>
                    <h3>AD Metrics</h3>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                                <label style="color:white;">Year</label>
                                <md-select ng-model="selectedYear" ng-change="IDSlistChanged(selectedYear)">
                                    <md-option ng-repeat="year in years" ng-value="year">{{year}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-sm-6">
                            <md-input-container style="background-color: white; color: black; border-radius: 3px; padding: 0px;width:100%">
                                <label style="color:white;">Month</label>
                                <md-select ng-model="selectedMonth" ng-change="IDSlistChanged(selectedMonth)">
                                    <md-option ng-repeat="Month in Months" ng-value="Month">{{Month}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="operations">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                            <a class="dashboard-stat blue" ui-sref="idsprojecttype">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="desc">
                                        <h3>Project Delivery metrics</h3>

                                    </div>
                                    <div class="status">
                                        <ul class="list-unstyled list-inline">
                                            <li><i>FP : </i> <span ng-bind="fp"></span></li>
                                            <li><i>Total Defects : </i> <span ng-bind="totalDefects"></span></li>
                                            <li><i>Defect Density : </i> <span ng-bind="defectDensity"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
                            <a class="dashboard-stat red" ui-sref="idsboxes">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">

                                    <div class="desc"><h3>Productivity Metrics</h3></div>
                                    <div class="status">
                                        <ul class="list-unstyled list-inline">
                                            <li> <i><span ng-bind="Productivity"></span></i></li>
                                        </ul>
                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat purple" ui-sref="idsboxes">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="desc"><h3>CMMI</h3></div>
                                    <div class="status">
                                        <ul class="list-unstyled list-inline">
                                            <li><i class="fa fa-square status-green"></i> <span ng-bind="CMMIGreen"></span></li>
                                            <li><i class="fa fa-square status-yellow"></i> <span ng-bind="CMMIYellow"></span></li>
                                            <li><i class="fa fa-square status-red"></i> <span ng-bind="CMMIRed"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
                            <a class="dashboard-stat carrot" ui-sref="idsboxes">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">

                                    <div class="desc"><h3>ITIL</h3></div>
                                    <div class="status">
                                        <ul class="list-unstyled list-inline">
                                            <li><i class="fa fa-square status-green"></i> <span ng-bind="ITILGreen"></span></li>
                                            <li><i class="fa fa-square status-yellow"></i> <span ng-bind="ITILYellow"></span></li>
                                            <li><i class="fa fa-square status-red"></i> <span ng-bind="ITILRed"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="chart" class="chart-container" style="margin-top:5px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
